# FUNDAMENTALS OF DATA ANALYSIS WITH PYTHON <br><font color="crimson">DAY 3: SOCIAL SCIENTIFIC COMPUTING WITH PANDAS</font>

49th [GESIS Spring Seminar: Digital Behavioral Data](https://training.gesis.org/?site=pDetails&pID=0xA33E4024A2554302B3EF4AECFC3484FD)   
Cologne, Germany, March 2-6 2010

### Course Developers and Instructors 

* Dr. [John McLevey](www.johnmclevey.com), University of Waterloo (john.mclevey@uwaterloo.ca)     
* [Jillian Anderson](https://ca.linkedin.com/in/jillian-anderson-34435714a?challengeId=AQGaFXECVnyVqAAAAW_TLnwJ9VHAlBfinArnfKV6DqlEBpTIolp6O2Bau4MmjzZNgXlHqEIpS5piD4nNjEy0wsqNo-aZGkj57A&submissionId=16582ced-1f90-ec15-cddf-eb876f4fe004), Simon Fraser University (jillianderson8@gmail.com) 

<hr>

## <i class="fa fa-tasks"></i> OVERVIEW 

This notebook introduces some fundamentals of scientific computing with `Pandas` and `matplotlib`. `Pandas` is an extremely popular Python package for storing, manipulating, and analyzing data in a tabular form, with rows and columns. We will learn how to get data into `pandas`, and then how to perform common data analysis tasks such as selecting columns, filtering rows, and computing descriptive statistics. Then we will learn how to use `matplotlib` for producing high-quality plots for print or the web. We will use it to create a variety of common statistical plots and other visualizations. 

As with yesterday, this notebook contains more information than we will likely be able to cover in a day. Depending on your experience, expertise, and research needs, we may jump around the notebook a bit to best "meet you where you are." We hope that including a lot of narrative text will provide you with enough background to start working effectively with `pandas` in the context of real research projects. 

## <i class="fa fa-map-o"></i> PLAN FOR THE DAY

<i class="fa fa-location-arrow"></i> [`Pandas` 101](#pandas)     
<i class="fa fa-location-arrow"></i> [Aggregation & Grouped Operations](#agg)    
<i class="fa fa-location-arrow"></i> [Sorting & Ranking](#sort)    
<i class="fa fa-location-arrow"></i> [Correlation and Covariance](#corr)    
<i class="fa fa-location-arrow"></i> [Dates & Times](#date)    
<i class="fa fa-location-arrow"></i> [Missing Data](#miss)    
<i class="fa fa-location-arrow"></i> [Working with Multiple Datasets](#multi)   
<hr>

In [1]:
import os
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'svg' # better resolution with vector graphics!

# <i class="fa location-arrow"></i> `Pandas` 101<a id='pandas'></a>

Quantitative or computational social scientists are used to working with data in tabular form, such as a `dataframe` with variables in the columns and observations in the rows. In Python, the `Pandas` package enables us to organize, manipulate, and analyze data in this familiar way. 

`Pandas` is an extremely popular package in the scientific computing community regardless of the discipline (physics, sociology, neuroscience, history) or industry (academia, government, industry). It was originally developed for time series analysis. It gets it's name from **pan**el **da**ta. 

This part of the notebook covers some essential functionality of `Pandas` that you will make heavy use of in most data analyses. Of course, we will not cover *everything* that is possible to do with `Pandas`. As with the previous content, the goal is to build a basic foundation that we can build on throughout the week. We will emphasize the functionality that can take you the furthest in any given data analysis project. 

# <i class="fa fa-location-arrow"></i> READING DATA FROM FILES 

`Pandas` makes it easy to load data from an external file directly into a `DataFrame`, which will discuss momentarily. It does so using one of many `reader` functions that are part of a suite of `I/O` (input / output, read / write) tools. For some common examples, see the table below. Information on these and other `reader` functions can be found in the `pandas` [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html). The [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) also provides useful information about the parameters for these methods, such as how to specify what sheet you want from an Excel spreadsheet, or whether to write the index to a new `csv` file. 



| Data Description                | Reader          | Writer        |
|:--------------------------------|:----------------|:--------------|
| CSV                             | `read_csv()`   | `to_csv()`   |
| JSON                            | `read_json()`  | `to_json()`  |
| MS Excel and OpenDocument (ODF) | `read_excel()` | `to_excel()` |
| Stata                           | `read_stata()` | `to_stata()` |
| SAS                             | `read_sas()`   | NA            |
| SPSS                            | `read_spss()`  | NA            |


To illustrate how these `reader` functions work, we will use the `read_csv()` function. The only *required* argument is that we provide the path to the location of the file on our computer. 

In this case, we will use the ["Three Million Russian Trolls" dataset](https://fivethirtyeight.com/features/why-were-sharing-3-million-russian-troll-tweets/), which consists of data on ~3M tweets from Twitter accounts that are known to be part of state-sponsored disinformation campaigns. This particular dataset was collected and coded by Darrin Linvill and Patrick Warren, of Clemson University. It includes several variables that were hand coded by Linvill and Warren, the most important of which are classifications of accounts into different types. 

The dataset is stored in 12 different `csv` files. They are stored in a directory called `russian-troll-tweets`, which is inside the `data` directory.

In [83]:
# !ls data/russian-troll-tweets
os.listdir('data/russian-troll-tweets')

['README.md',
 'IRAhandle_tweets_10.csv',
 'IRAhandle_tweets_11.csv',
 'IRAhandle_tweets_5.csv',
 '.git',
 'IRAhandle_tweets_7.csv',
 'IRAhandle_tweets_8.csv',
 'IRAhandle_tweets_6.csv',
 'IRAhandle_tweets_9.csv',
 'IRAhandle_tweets_2.csv',
 'IRAhandle_tweets_3.csv',
 'IRAhandle_tweets_1.csv',
 'IRAhandle_tweets_13.csv',
 'IRAhandle_tweets_4.csv',
 'IRAhandle_tweets_12.csv']

Let's start by loading just one of the files. Later we will see how to read in all 12 and combine them into 1 large dataset.

In [3]:
df = pd.read_csv('data/russian-troll-tweets/IRAhandle_tweets_1.csv')

By default, `pandas` assumes your data is encoded with `UTF-8`. If you see an encoding error, you can switch to a different encoding, such as `latin`.

Once we have our `dataframe`, we can use the `info()` method to see the name of each column, as well as it's integer index and datatype.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243891 entries, 0 to 243890
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   external_author_id  243891 non-null  int64
 1   author              243891 non-null  object
 2   content             243891 non-null  object
 3   region              243853 non-null  object
 4   language            243891 non-null  object
 5   publish_date        243891 non-null  object
 6   harvested_date      243891 non-null  object
 7   following           243891 non-null  int64
 8   followers           243891 non-null  int64
 9   updates             243891 non-null  int64
 10  post_type           154592 non-null  object
 11  account_type        243891 non-null  object
 12  retweet             243891 non-null  int64
 13  account_category    243891 non-null  object
 14  new_june_2018       243891 non-null  int64
 15  alt_external_id     243891 non-null  int64
 16  tweet_id            243891 non-null  int64
 17  article_url         243891 non-null  object
 18  tco1_step1          180520 non-null  object
 19  tco2_step1          66432 non-null   object
 20  tco3_step1          2803 non-null    object
dtypes: int64(8), object(13)
memory usage: 39.1+ MB

We now have a `dataframe` with 21 variables. The `dataframe` is organized as we would expect: with variables in the columns and observations in the columns. We can use the `.head()` method to preview the top $n$ rows of the dataset.

In [5]:
df.head(10)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,Right,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,Right,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,Right,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,Right,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,...,Right,1,RightTroll,0,905874659358453760,914312219952861184,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN
5,906000000000000000,10_GOP,"Dan Bongino: ""Nobody trolls liberals better th...",Unknown,English,10/1/2017 2:47,10/1/2017 2:47,1050,9644,247,...,Right,0,RightTroll,0,905874659358453760,914320835325853696,http://twitter.com/905874659358453760/statuses...,https://twitter.com/FoxNews/status/91423949678...,NaN,NaN
6,906000000000000000,10_GOP,🐝🐝🐝 https://t.co/MorL3AQW0z,Unknown,English,10/1/2017 2:48,10/1/2017 2:48,1050,9644,248,...,Right,1,RightTroll,0,905874659358453760,914321156466933760,http://twitter.com/905874659358453760/statuses...,https://twitter.com/Cernovich/status/914314644...,NaN,NaN
7,906000000000000000,10_GOP,'@SenatorMenendez @CarmenYulinCruz Doesn't mat...,Unknown,English,10/1/2017 2:52,10/1/2017 2:53,1050,9644,249,...,Right,0,RightTroll,0,905874659358453760,914322215537119234,http://twitter.com/905874659358453760/statuses...,NaN,NaN,NaN
8,906000000000000000,10_GOP,"As much as I hate promoting CNN article, here ...",Unknown,English,10/1/2017 3:47,10/1/2017 3:47,1050,9646,250,...,Right,0,RightTroll,0,905874659358453760,914335818503933957,http://twitter.com/905874659358453760/statuses...,http://www.cnn.com/2017/09/27/us/puerto-rico-a...,NaN,NaN
9,906000000000000000,10_GOP,After the 'genocide' remark from San Juan Mayo...,Unknown,English,10/1/2017 3:51,10/1/2017 3:51,1050,9646,251,...,Right,0,RightTroll,0,905874659358453760,914336862730375170,http://twitter.com/905874659358453760/statuses...,NaN,NaN,NaN

Alternatively, we could use the `.sample()` method to pull a random sample of $n$ observations, which can be helpful if we don't want the observations we preview to be from the top (`head`) or bottom (`tail`) of the dataset.

In [6]:
df.sample(10)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
50793,893000000000000000,ALAXXATR,#aleex Watch Rocker Ted Nugent PASSIONATELY De...,Unknown,English,8/17/2017 16:20,8/17/2017 16:20,28,2,694,...,Right,0,RightTroll,0,893396485555048448,898217905963380736,http://twitter.com/893396485555048448/statuses...,https://twitter.com/alaxxaTR/status/8982179059...,http://ift.tt/2wTg4cx,NaN
22305,1652138929,ACEJINEV,New Edition:: Saviours' Day 2017: The Nation O...,United States,English,2/8/2017 13:57,2/8/2017 13:57,788,908,4186,...,Left,1,LeftTroll,0,1652138929,829328232881209344,http://twitter.com/1652138929/statuses/8293282...,https://twitter.com/TheFinalCall/status/828941...,http://FinalCallDigital.com,NaN
22625,1652138929,ACEJINEV,Purchase some inspirational headgear at my sho...,United States,English,3/17/2017 14:03,3/17/2017 14:03,785,915,5064,...,Left,1,LeftTroll,0,1652138929,842738205401190400,http://twitter.com/1652138929/statuses/8427382...,https://twitter.com/TariqToure/status/84206288...,http://ln.is/www.tariqtoure.com/s/MuMXv,NaN
103228,1679279490,AMELIEBALDWIN,'@2_Legit2_Quit_ did you see this? #Wikileak...,United States,English,11/16/2016 8:26,11/16/2016 8:26,2385,2548,18092,...,Right,1,RightTroll,0,1679279490,798804347656159232,http://twitter.com/1679279490/statuses/7988043...,https://twitter.com/Roni_K_Patriot/status/7987...,https://wikileaks.org/podesta-emails/emailid/5...,NaN
222025,1671936266,ARM_2_ALAN,Court overturns some Blagojevich Senate-seat c...,United States,English,7/21/2015 23:11,7/21/2015 23:12,65,152,11621,...,Right,1,RightTroll,0,1671936266,623631536554774528,http://twitter.com/Arm_2_Alan/statuses/6236315...,http://dld.bz/dMCJJ,NaN,NaN
7583,4036537452,4MYSQUAD,Is this for real? Dozens of killer cops were c...,United States,English,4/15/2016 20:54,4/15/2016 20:54,4653,3860,1254,...,Left,0,LeftTroll,0,4036537452,721079168172036096,http://twitter.com/4MySquad/statuses/721079168...,https://twitter.com/4MySquad/status/7210791681...,http://goo.gl/DLca0f,NaN
38122,1657833811,ADRIENNE_GG,A friend is someone who knows all about you an...,United States,English,3/16/2015 14:41,3/16/2015 14:41,150,142,674,...,Hashtager,0,HashtagGamer,0,1657833811,577479781496823808,http://twitter.com/Adrienne_GG/statuses/577479...,NaN,NaN,NaN
157703,895000000000000000,ANGEELISHET,#angees BREAKING : Trump Just Tweeted a BRUTAL...,Unknown,English,8/9/2017 12:44,8/9/2017 12:44,50,1,50,...,Right,0,RightTroll,0,894823022317752320,895264420439445505,http://twitter.com/894823022317752320/statuses...,https://twitter.com/angeelisHET/status/8952644...,http://ift.tt/2up07gH,NaN
207797,2415574043,ARINA_RONDAL,Минкульт предупредил «Артдокфест» о последстви...,United States,Russian,12/8/2015 16:17,12/8/2015 16:19,160,252,2537,...,Russian,1,NonEnglish,1,2415574043,674261483438678016,http://twitter.com/arina_rondal/statuses/67426...,https://twitter.com/meduzaproject/status/67424...,https://meduza.io/news/2015/12/08/minkultury-p...,NaN
55200,802673000000000000,ALBUQUERQUEON,City of Albuquerque and elementary school fall...,Unknown,English,4/7/2017 13:27,4/7/2017 13:27,4576,533,2675,...,local,0,NewsFeed,1,802673478130434048,850339136095604736,http://twitter.com/802673478130434048/statuses...,https://twitter.com/AlbuquerqueOn/status/85033...,http://krqe.com/2017/04/07/city-of-albuquerque...,NaN

To load up the full dataset -- which is spread across 12 files -- we can read in each `csv` file and concatenate them all into a single `dataframe`. Note that if your data is contained in a single file, this step would not be necessary.

In [7]:
data_dir = os.listdir('data/russian-troll-tweets')
data_dir

['README.md',
 'IRAhandle_tweets_10.csv',
 'IRAhandle_tweets_11.csv',
 'IRAhandle_tweets_5.csv',
 '.git',
 'IRAhandle_tweets_7.csv',
 'IRAhandle_tweets_8.csv',
 'IRAhandle_tweets_6.csv',
 'IRAhandle_tweets_9.csv',
 'IRAhandle_tweets_2.csv',
 'IRAhandle_tweets_3.csv',
 'IRAhandle_tweets_1.csv',
 'IRAhandle_tweets_13.csv',
 'IRAhandle_tweets_4.csv',
 'IRAhandle_tweets_12.csv']

In [8]:
files = [f for f in data_dir if 'csv' in f]
files

['IRAhandle_tweets_10.csv',
 'IRAhandle_tweets_11.csv',
 'IRAhandle_tweets_5.csv',
 'IRAhandle_tweets_7.csv',
 'IRAhandle_tweets_8.csv',
 'IRAhandle_tweets_6.csv',
 'IRAhandle_tweets_9.csv',
 'IRAhandle_tweets_2.csv',
 'IRAhandle_tweets_3.csv',
 'IRAhandle_tweets_1.csv',
 'IRAhandle_tweets_13.csv',
 'IRAhandle_tweets_4.csv',
 'IRAhandle_tweets_12.csv']

In [123]:
df['used_to_be_the_index'] = df.index

In [124]:
df.index == df['used_to_be_the_index']

array([ True,  True,  True, ...,  True,  True,  True])

We will overwrite the `df` created earlier.

In [86]:
df = pd.concat((pd.read_csv('data/russian-troll-tweets/{}'.format(f), encoding='utf-8', low_memory=False) for f in files if 'csv' in f), ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2946207 entries, 0 to 2946206
Data columns (total 21 columns):
 #   Column              Dtype
---  ------              -----
 0   external_author_id  object
 1   author              object
 2   content             object
 3   region              object
 4   language            object
 5   publish_date        object
 6   harvested_date      object
 7   following           int64
 8   followers           int64
 9   updates             int64
 10  post_type           object
 11  account_type        object
 12  retweet             int64
 13  account_category    object
 14  new_june_2018       int64
 15  alt_external_id     object
 16  tweet_id            int64
 17  article_url         object
 18  tco1_step1          object
 19  tco2_step1          object
 20  tco3_step1          object
dtypes: int64(6), object(15)
memory usage: 472.0+ MB

In [87]:
sample = df.sample(4000)
sample.to_csv('data/sample.csv', index=False)

In this case, we have two datatypes in our `dataframe`: `object` and `int64`. `Pandas` uses `object` to refer to columns that contain `strings`, or which contain mixed types, such as `strings` and `integers`. In this case, they refer to `strings`. `int64` are integers. In addition to these two data types, `pandas` stores `floats` (`float64`), booleans (True or False), several specialized `datetime` data structures, and categorical variables.  

One further thing to note about this dataset: **each row is a tweet from a specific account, but some of the variables describe attributes of the tweeting accounts, not of the tweet itself**. For example, `followers` describes the number of followers that the account had at the time it sent the tweet. This makes sense, because tweets don't have followers, but accounts do. We need to keep this in mind when working with this dataset.

<a id='struct'></a>
# <i class="fa fa-location-arrow"></i> UNDERSTANDING `PANDAS` DATA STRUCTURES 

Now that we have a `dataframe` loaded into memory, we can move on to some interesting data analyses. But first, let's devote a bit of time to clarifying `pandas` data structures. 

### <i class="fa fa-graduation-cap"></i> Dynamic Typing [<i class="fa fa-forward"></i>](#skip_dynamic)

> Note: feel free to use the [<i class="fa fa-forward"></i>](#essential_series) button above to temporarily [skip](#essential_series) over this "background knowledge" section if you are feeling overwhelmed with new information. It is useful to know, but it is not *essential* knowledge for using Pandas to analyze data. You will not lose much if you come back to this at some point in the future, when you are more comfortable with basic `pandas` data structures and operations. 

First, some background knowledge. Python is a dynamically typed language. What that means is that you don't need to constantly tell Python what kind of object something is. For example, if you add two numbers together

In [88]:
42 + 8

50

it is not necessary to tell Python that `42` and `8` are integers. Instead, Python stores that metadata in each object. 

When we store data in a list, every element in the list is actually a Python object itself, containing not only the actual data itself (e.g. `42`), but also information about the **type** of data that it is, which in this case is `int64`. This is enormously useful in many cases, because we store objects of different types in a `list`.

In [89]:
some_data = [42, 8.0, 'a string']
print(some_data)

[42, 8.0, 'a string']

In this example, each element in `some_data` also contains information about the type of object it is. As previously mentioned, this is enormously helpful in some contexts, but dramatically slows down computation in other contexts. Data analysis is one example of where, depending on what you are trying to do, dynamic typing can slow things down rather a lot. 

When you are analyzing data, you are almost always working with some collection of elements that are all of the same type, such as integers, floats, strings, or Boolean values. For example, you can't compute the mean and standard deviation of a collection of elements that include both integers and strings. So it follows that data analysis can be made more efficient by working on data structures where information about data types is stored at the level of the collection itself rather than each element in the collection, *provided the data is all of the same type*. 

One of the main tools for doing this in `Python` is the `numpy` package, which is more or less the foundation of all data analysis in `Python`, whether you explicitly use it or not. `numpy` provides data structures for working with `arrays` of data that are a bit like lists except that all elements are of the same type, information about that type is stored at the level of the `array` itself, and each element in the `array` has an explicit integer index. `arrays` can be one dimensional vectors or multi-dimensional matrices. 

Further discussion of `numpy` is beyond the scope of this class. For our purposes here, what you need to know is that `pandas` builds on top of `numpy` and offers an additional set of data structures and methods that are designed explicitly to meet the needs to researchers working with real-world empirical data. Like `numpy`, `pandas` is designed to make scientific computing more efficient, but as we will learn below there are some common pitfalls to avoid that, if you are not careful, can actually make working with `pandas` slow and inefficient.

<a id='skip_dynamic'></a><a id='series_index'></a>
# <i class="fa fa-location-arrow"></i> `Series` and `index`

Each column in a `dataframe` is an object called a `series`. A `series` is a one-dimensional object, such as a vector of numbers. However, that vector is associated with an `index`, which is a vector, or array, of labels. 

For example, the column `retweet` in our Russian troll `dataframe` is a `series` of integers (number of times a tweet was retweeted) and their `index` labels.

In [90]:
num_followers = df['followers']
type(num_followers)

pandas.core.series.Series

Below, we pull a sample of 25 tweets from the `series`. The value on the left is the index label for the observation, the number on the right is the actual data value (number of retweets). The index values are sequential in the actual `series`, but they are out of sequence here because we pulled a random sample.

In [91]:
num_followers.sample(25)

2715994         4
158996      12322
2906406      7385
1346386       322
1725875       426
177865         75
1116826      4029
1718142      7285
700932       1075
2025259       404
1498710    107849
2012631       159
2276520       368
2440522       916
1619925      1809
2521997     20163
2391265       298
1649599     13493
1987078      1010
689769        287
2400719       152
2254155       874
2732785      6097
2350861     23159
21864       17311
Name: followers, dtype: int64

In most cases, the default `index` for a `series` or `dataframe` is an immutable vector of integers:

In [125]:
num_followers.index

RangeIndex(start=0, stop=2946207, step=1)

In some cases, such as time series analysis, the `index` might default to a `DatetimeIndex` or a `PeriodIndex`, but we will not consider those in this course. If you are working with time series data, the [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) provides explanations of how to use these types of `indices`.

We can easily modify an `index` so that it is made of up some other type of vector instead, including a `string`. Surprisingly, `index` values do not need to be unique (technically, they are a `multiset`, or a `set` that is allowed to have repeat elements). This enables us to do some powerful things, but most of the time you should avoid manually changing indexes. 

We can use the `index` to retrieve specific values from a `series` much as we would if we were selecting an element from a `list`, `tuple`, or `array`.

### Operations on `Series`: Descriptive Statistics

As we will soon see, there are a number of operations we can perform on `Series`, such as simple descriptive statistics like mean, median, mode, and standard deviation.

In [93]:
print('Median ', num_followers.median())
print('Mean ', num_followers.mean())
print('Standard Deviation ', num_followers.std())

Median  1274.0
Mean  7055.265491868019
Standard Deviation  14635.939344600854

Since the values returned from operations on `Series` are essentially equivalent to a `numpy` `array`, we can use `numpy` methods on `Series` objects. For example, we can use the `round()` method from `numpy` to round these descriptives to a few decimal points.

In [94]:
print('Median ', np.round(num_followers.median(), 3))
print('Mean ', np.round(num_followers.mean(), 3))
print('Standard Deviation ', np.round(num_followers.std(), 3))

Median  1274.0
Mean  7055.265
Standard Deviation  14635.939

We can also `count` the number of non-missing observations in a `series`

In [95]:
num_followers.count()

2946207

or get an overview of multiple descriptives at once:

In [96]:
num_followers.describe()

count    2.946207e+06
mean     7.055265e+03
std      1.463594e+04
min     -1.000000e+00
25%      3.220000e+02
50%      1.274000e+03
75%      1.085300e+04
max      2.512760e+05
Name: followers, dtype: float64

If our series is categorical, we can also easily compute useful information such as the number of unique categories, the size of each category, and so on. For example, let's look at the `account_type` `series`.

In [97]:
atype = df['account_type']

In [98]:
atype.unique()

array(['Russian', 'Right', 'news', '?', 'Koch', 'Hashtager', 'Left',
       'German', 'Arabic', 'local', 'Italian', 'Ebola ', 'French',
       'Commercial', 'Uzbek', 'Spanish', 'Ukranian', 'ZAPOROSHIA',
       'Portuguese'], dtype=object)

In [99]:
atype.value_counts()

Right         711668
Russian       704917
local         459220
Left          427141
Hashtager     241786
news          139006
Commercial    121904
German         91511
Italian        15680
?              13539
Koch           10894
Arabic          6228
Spanish         1226
French          1117
ZAPOROSHIA       175
Portuguese       118
Ebola             71
Ukranian           4
Uzbek              2
Name: account_type, dtype: int64

Later, we will consider some summary statistics for pairs of `series`, such as computing correlations and covariance.

<a id='dataframe'></a>
# <i class="fa fa-location-arrow"></i> DataFrames

We already have our `DataFrame` loaded into memory (as `df`), but so far all we have used it for is pulling out individual `series`. This is easy to do in part because `DataFrames` are themselves just collections of `Series` that are aligned on the same `index` values. In other words, both `Series` we worked with previously -- `atype` and `num_followers` -- have their own `indexes` when we work with them as `Series`, but in a `DataFrame`, they share an index. `DataFrames` are organized the way we would expect: with variables in the columns and observations in the rows. We can use the `.head()` method to preview the top $n$ rows of the dataset.

In [101]:
df.tail()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
2946202,2589513234,ZUBOVNIK,Нет слов... https://t.co/Q11oaKiJIS,Unknown,Russian,9/14/2015 17:09,9/14/2015 17:09,3559,22633,13212,...,Russian,1,NonEnglish,0,2589513234,643471568635564033,http://twitter.com/zubovnik/statuses/643471568...,https://twitter.com/lifenews_ru/status/6434686...,NaN,NaN
2946203,2589513234,ZUBOVNIK,'@VRSoloviev ГУМВД: уголовное дело возбуждено ...,Unknown,Russian,9/14/2015 17:57,9/14/2015 17:57,3559,22633,13217,...,Russian,0,NonEnglish,0,2589513234,643483758482604032,http://twitter.com/zubovnik/statuses/643483758...,http://ria.ru/incidents/20150914/1251405308.html,NaN,NaN
2946204,2589513234,ZUBOVNIK,Великое переселение народов продолжается. Неда...,Unknown,Russian,9/14/2015 6:25,9/14/2015 8:42,3563,22629,13192,...,Russian,0,NonEnglish,0,2589513234,643309470794260480,http://twitter.com/zubovnik/statuses/643309470...,https://twitter.com/zubovnik/status/6433094707...,NaN,NaN
2946205,2589513234,ZUBOVNIK,Порошенко вновь просит США поставить вооружени...,Unknown,Russian,9/14/2015 6:55,9/14/2015 6:58,3563,22623,13183,...,Russian,0,NonEnglish,0,2589513234,643317220395909120,http://twitter.com/zubovnik/statuses/643317220...,https://twitter.com/zubovnik/status/6433172203...,NaN,NaN
2946206,2589513234,ZUBOVNIK,Поздравляю Дмитрия Анатольевича с 50-летием Же...,Unknown,Russian,9/14/2015 7:23,9/14/2015 7:53,3563,22625,13187,...,Russian,0,NonEnglish,0,2589513234,643324060068413440,http://twitter.com/zubovnik/statuses/643324060...,https://twitter.com/zubovnik/status/6433240600...,NaN,NaN

Alternatively, we could use the `.sample()` method to pull a random sample of $n$ observations, which can be helpful if we don't want the observations we preview to be from the top (`head`) or bottom (`tail`) of the dataset.

In [23]:
df.sample(5)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
190969,1652262638,ANTONHAYHAY,"Cavs get a lead with great ball movement, then...",United States,English,4/23/2017 19:40,4/23/2017 19:40,301,745,10063,...,Left,1,LeftTroll,0,1652262638,856231375137058821,http://twitter.com/1652262638/statuses/8562313...,NaN,NaN,NaN
214994,1671936266,ARM_2_ALAN,Woman maybe was shoved on tracks for being tra...,United States,English,6/3/2015 19:34,6/3/2015 19:34,68,113,1688,...,Right,1,RightTroll,0,1671936266,606182091148165120,http://twitter.com/Arm_2_Alan/statuses/6061820...,NaN,NaN,NaN
141385,871000000000000000,ANDIOSMARRTRUMP,The bad blood between Taylor Swift and Spotify...,Unknown,English,6/10/2017 0:56,6/10/2017 0:56,2866,420,278,...,Right,0,RightTroll,0,870647274833145857,873342976482840576,http://twitter.com/870647274833145857/statuses...,https://twitter.com/EissyT56T/status/873341733...,https://twitter.com/safety/unsafe_link_warning...,NaN
216546,3438999494,WORLDOFHASHTAGS,People who introduce their vegan lifestyle or ...,United States,English,8/24/2016 14:22,8/24/2016 14:22,6355,6206,16703,...,Hashtager,1,HashtagGamer,0,3438999494,768453407208304640,http://twitter.com/WorldOfHashtags/statuses/76...,NaN,NaN,NaN
64699,2572531545,TRYTOFINDITOUT,#My4WordMotto Don't touch my phone,United States,English,1/4/2016 14:21,1/4/2016 14:21,1451,1852,1783,...,Hashtager,1,HashtagGamer,0,2572531545,684016794961444865,http://twitter.com/TrytofinditOut/statuses/684...,NaN,NaN,NaN

When working with a `dataframe`, we can select subsets of data by selecting columns or filtering rows. Let's look at selecting columns first. 

### Selecting Columns 

Earlier, we saw how we could select a single column using by specifying the name of the `dataframe` followed by the name of the `series` inside square brackets and straight quotes.

In [24]:
followers = df['followers']
followers.sample(10)

127842      235
24232       267
70247      5059
85629     16725
159602      772
109383      540
106433      895
149613      248
1130         47
219464    18832
Name: followers, dtype: int64

We can select multiple columns by passing a list of column names. Whereas the result of the previous selection was a `Series` (because we only pulled one column), selecting multiple columns will return a `DataFrame` containing only the requested columns.

In [103]:
ff = df[['followers', 'following']]
ff.sample(10)

         followers  following
2297103       2449       1944
2425694        291       1663
1851742       2312       2848
1544812        656        499
2932551       2314       2102
450490       16995       8717
2875730       2118       4907
118057         720        706
2265712       2109        134
2748983       2507       2659

This kind of subsetting can be very helpful when, for example, you are working with datasets that have a lot of columns, only some of which are required for your analysis. 

### Filtering Rows 

It is also sometimes necessary to filter rows. There are a variety of ways to do this, including slices (e.g. all observations between index $i_i$ and index $i_j$). In a data analysis context, most of the row filtering you will do is likely to be based on some sort of explicit condition, such as "give me all the observations with more than 1,000 followers." Most likely, you will only filter rows based on subsets if you are selecting the first $n$ rows of a `DataFrame` that has been sorted by the values of some `Series`. We will consider this case later.

In [26]:
df[df['followers'] >= 1000].sample(10)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
179013,2530830345,NEWORLEANSON,#politics Carson: Use 'truth serum' on terror ...,United States,English,2/23/2016 22:13,2/23/2016 22:13,15347,26484,41882,...,local,0,NewsFeed,0,2530830345,702255053667569664,http://twitter.com/NewOrleansON/statuses/70225...,NaN,NaN,NaN
81803,1696996141,KENCANNONE,Disgusting pile of garbage #2016In4Words,United States,English,12/28/2016 16:03,12/28/2016 16:03,2975,2663,2835,...,Hashtager,1,HashtagGamer,0,1696996141,814139717818126336,http://twitter.com/1696996141/statuses/8141397...,NaN,NaN,NaN
215309,2912754262,PIGEONTODAY,French interior minister: Anti-terrorism prose...,United States,English,8/22/2015 2:00,8/22/2015 2:00,13800,17474,5205,...,Right,0,RightTroll,0,2912754262,634907912985448449,http://twitter.com/PigeonToday/statuses/634907...,https://twitter.com/PigeonToday/status/6349079...,NaN,NaN
192964,3049228218,LUGANSKNOVOSTI,#ВСУ обстреливают районы сел Красный Лиман и П...,United States,Russian,3/14/2017 15:27,3/14/2017 16:45,3175,48931,8105,...,Russian,0,NonEnglish,1,3049228218,841672108715450368,http://twitter.com/3049228218/statuses/8416721...,https://twitter.com/LuganskNovosti/status/8416...,NaN,NaN
188232,2620614029,PHILADELPHIAON,ACLU Of Pennsylvania Launching Its First Ever ...,United States,English,4/25/2017 1:24,4/25/2017 1:24,8867,16704,16051,...,local,0,NewsFeed,0,2620614029,856680197260816384,http://twitter.com/2620614029/statuses/8566801...,https://twitter.com/PhiladelphiaON/status/8566...,http://philadelphia.cbslocal.com/2017/04/24/ac...,NaN
119100,1510488662,LAGONEHOE,yup. https://t.co/hw8CUfeGHF,United States,English,7/21/2017 21:50,7/21/2017 21:50,2290,2964,4911,...,Left,1,LeftTroll,0,1510488662,888516514336387074,http://twitter.com/1510488662/statuses/8885165...,https://twitter.com/__broke/status/88851199529...,NaN,NaN
127151,1687183549,BLEEPTHEPOLICE,#MichaelJackson once told #Oprah he didn’t wan...,United States,English,5/26/2016 1:57,5/26/2016 1:57,6006,8413,10350,...,Left,1,LeftTroll,0,1687183549,735651051659878400,http://twitter.com/BleepThePolice/statuses/735...,https://twitter.com/gloed_up/status/7356124358...,NaN,NaN
186660,2928870434,NEWSPEAKDAILY,AstraZeneca diabetes drug combination faces de...,United States,English,10/16/2015 9:20,10/16/2015 9:20,922,5813,2332,...,news,0,NewsFeed,0,2928870434,654949968818499586,http://twitter.com/NewspeakDaily/statuses/6549...,NaN,NaN,NaN
92386,2951556370,SPECIALAFFAIR,Obama and Putin to meet; Syria and Ukraine vie...,United States,English,9/24/2015 20:29,9/24/2015 20:29,10372,12001,10218,...,news,0,NewsFeed,0,2951556370,647145928307019776,http://twitter.com/SpecialAffair/statuses/6471...,NaN,NaN,NaN
229699,2882331822,JENN_ABRAMS,CNN caught staging a fake news video https://t...,United States,English,6/7/2017 10:18,6/7/2017 10:18,23708,70227,24641,...,Right,1,RightTroll,0,2882331822,872397397615407104,http://twitter.com/2882331822/statuses/8723973...,https://twitter.com/Jenn_Abrams/status/8720602...,NaN,NaN

Alternatively, we could filter based on membership in some category, such as being a `RightTroll` or `LeftTroll` account. `RightTroll` and `LeftTroll` are attributes of the `account_category` `series`. Let's get `RightTroll` accounts.

In [27]:
df[df['account_category'] == 'RightTroll'].sample(10)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
140990,867000000000000000,COLJASON94,Pray for #ManchesterBombing victims,United States,English,5/23/2017 15:10,5/23/2017 15:10,55,1,2,...,Right,0,RightTroll,0,867033703427354624,867034919192543232,http://twitter.com/867033703427354624/statuses...,NaN,NaN,NaN
29331,892000000000000000,CHAASNTR,af76ad809d204f4 Thnx for sharing,Unknown,English,8/11/2017 18:13,8/11/2017 18:13,1928,1138,5124,...,Right,0,RightTroll,0,891902187130966017,896072101777391620,http://twitter.com/891902187130966017/statuses...,NaN,NaN,NaN
226818,1676481360,EMILEEWAREN,They're vandalizing churches They're inciting ...,United States,English,11/2/2016 20:30,11/2/2016 20:30,1500,1907,2367,...,Right,1,RightTroll,0,1676481360,793913120976736256,http://twitter.com/1676481360/statuses/7939131...,https://twitter.com/MissLizzyNJ/status/7938854...,NaN,NaN
68373,892000000000000000,DANISSTRS,#danita Trump Supporters Demand GOP Traitors D...,Unknown,English,8/30/2017 21:48,8/30/2017 21:48,4997,977,4109,...,Right,0,RightTroll,0,891930470212141056,903011641977163777,http://twitter.com/891930470212141056/statuses...,https://twitter.com/danisstrs/status/903011641...,http://ift.tt/2wTzGAB,NaN
113990,1667487494,RIOGITHIEF,"Man Up, Campus Christians—Your Timidity Feeds ...",United States,English,11/19/2015 14:32,11/19/2015 14:32,546,254,721,...,Right,1,RightTroll,0,1667487494,667349728267362304,http://twitter.com/riogithief/statuses/6673497...,http://bit.ly/1cecPkK,NaN,NaN
47179,898000000000000000,CHARMEESTRS,Trump Pledges His Own Money to Off-Set Cost of...,Unknown,English,10/22/2017 18:46,10/22/2017 18:46,0,1889,2632,...,Right,0,RightTroll,0,898452282181730305,922172242645127170,http://twitter.com/898452282181730305/statuses...,http://ift.tt/2ztrdkY,NaN,NaN
48341,898000000000000000,CHARMEESTRS,CNN Makes RIDICULOUS Comment on Trump’s UN Spe...,Unknown,English,9/20/2017 14:28,9/20/2017 14:29,4819,1718,1136,...,Right,0,RightTroll,0,898452282181730305,910511044669341696,http://twitter.com/898452282181730305/statuses...,http://ift.tt/2xmUDTA,NaN,NaN
190841,870000000000000000,EISSYT56T,VIDEO : Jesse Watters Exposes TRUTH About Ille...,Unknown,English,7/21/2017 3:16,7/21/2017 3:16,1,25,2101,...,Right,0,RightTroll,0,870497148365754368,888236273990864896,http://twitter.com/870497148365754368/statuses...,https://twitter.com/EissyT56T/status/888236273...,http://ift.tt/2gOZ0Ap,NaN
212324,2535818742,HAPPKENDRAHAPPY,"'@UnitedWe_Stay @ClassySnobbb Next time, ask y...",United States,English,1/7/2016 17:17,1/7/2016 17:17,262,295,1590,...,Right,1,RightTroll,0,2535818742,685148157534146560,http://twitter.com/happkendrahappy/statuses/68...,NaN,NaN,NaN
155875,2572058134,LEROYLOVESUSA,RT @RenewUSTweets: MT @maroulakiz : And my Go...,United States,English,2/18/2016 11:16,2/18/2016 11:16,824,621,645,...,Right,0,RightTroll,0,2572058134,700277736317853696,http://twitter.com/LeroyLovesUSA/statuses/7002...,https://twitter.com/maroulakiz/status/52143658...,NaN,NaN

In [104]:
df[(df['account_category'] == 'RightTroll') | (df['account_category'] == 'LeftTroll')].sample(10)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
2761630,4859142199,TRAYNESHACOLE,��� https://t.co/7tVlq5nfEF,United States,English,4/29/2016 13:18,4/29/2016 13:19,4869,4201,1940,...,Left,1,LeftTroll,0,4859142199,726037961213509632,http://twitter.com/TrayneshaCole/statuses/7260...,https://twitter.com/trayneshacole/status/72592...,NaN,NaN
1388991,1627096807,JASSSCOTT,Verdict du procès en appel #LuxLeaks le 15 mar...,United States,French,3/14/2017 20:04,3/14/2017 20:04,309,766,6299,...,Left,1,LeftTroll,0,1627096807,841741846388871168,http://twitter.com/1627096807/statuses/8417418...,https://twitter.com/ClaireNouvian/status/83985...,NaN,NaN
410442,4224729994,TEN_GOP,"""Obama should have gone to #Louisiana days ago...",United States,English,8/23/2016 18:08,8/23/2016 18:08,23006,26562,3224,...,Right,0,RightTroll,0,4224729994,768147872189743104,http://twitter.com/TEN_GOP/statuses/7681478721...,https://twitter.com/TEN_GOP/status/76814787218...,NaN,NaN
2402645,1527687456,ARIELSHINING,baby kitties http://t.co/8KOwXGrKEd,United States,Latvian,5/25/2015 16:31,5/25/2015 16:31,78,55,339,...,Right,0,RightTroll,0,1527687456,602874647109971969,http://twitter.com/ArielShining/statuses/60287...,http://youtu.be/OqYmrXBO28E,NaN,NaN
2657216,1665377383,ELIASBRICK,�� RT @MisterDew2012: All the ladies say Hooo....,United States,English,12/18/2016 9:52,12/18/2016 9:52,890,823,2873,...,Left,1,LeftTroll,0,1665377383,810422464513769472,http://twitter.com/1665377383/statuses/8104224...,https://www.youtube.com/watch?v=3GK23f_xtZY,NaN,NaN
512853,1662453998,ERRIVVVVERS,"Victim of what? I'm fucking awesome, but you o...",United States,English,7/31/2017 2:58,7/31/2017 2:58,841,839,6772,...,Left,1,LeftTroll,0,1662453998,891855539885547520,http://twitter.com/1662453998/statuses/8918555...,https://twitter.com/quakemaster7/status/891839...,NaN,NaN
61213,1914760610,RAVENICHOLSON,Sabermetrics didn't put @TimRaines30 into the ...,United States,English,1/18/2017 23:27,1/18/2017 23:27,848,810,3292,...,Left,1,LeftTroll,0,1914760610,821861560197009409,http://twitter.com/1914760610/statuses/8218615...,NaN,NaN,NaN
1372186,1716228906,JANI_S_JAC,�� why they arguing like 40 year olds? https:/...,United States,English,10/6/2016 20:49,10/6/2016 20:49,573,902,1686,...,Left,1,LeftTroll,0,1716228906,784133556230578176,http://twitter.com/Jani_s_Jac/statuses/7841335...,https://twitter.com/SayCheese_TV/status/783893...,NaN,NaN
389040,1527133837,SUSAYUNG,"No way, no way! Hillary is an � *sarcasm https...",United States,English,4/17/2016 14:59,4/17/2016 15:00,1175,443,1014,...,Left,1,LeftTroll,0,1527133837,721714805493530624,http://twitter.com/SusaYung/statuses/721714805...,https://twitter.com/JeanetteJing/status/679885...,NaN,NaN
995021,1654347974,MAYMAYMYY,How state attorneys general could take down Tr...,United States,English,2/19/2017 1:54,2/19/2017 1:54,821,980,4115,...,Left,1,LeftTroll,0,1654347974,833132642321256448,http://twitter.com/1654347974/statuses/8331326...,https://twitter.com/Slate/status/8331249252758...,http://slate.me/2kAq0W1,NaN

We are left with a subset of 711,668 accounts (check yourself: `len(df[df['account_category'] == 'RightTroll'])`) that are classified as `RightTrolls`.

Take some time to implement a filter of interest to you in the cell below.

In [ ]:
# Your Turn

### Removing Duplicates
One special case of filtering is the ability to remove duplicate rows from a `DataFrame`. This is often required when multiple rows can refer to the same real-world entity, but there are certain values which will remain the constant for each of that entity's rows. 

For example, we may be interested in counting the number of accounts related to each region in our Russian Trolls dataset. We would start by selecting the `region` and `author` columns.

In [28]:
author_region = df[['author', 'region']]
author_region.head(10)

           author         region
0  POLITICS_T0DAY  United States
1  POLITICS_T0DAY  United States
2  POLITICS_T0DAY  United States
3  POLITICS_T0DAY  United States
4  POLITICS_T0DAY  United States
5  POLITICS_T0DAY  United States
6  POLITICS_T0DAY  United States
7  POLITICS_T0DAY  United States
8  POLITICS_T0DAY  United States
9  POLITICS_T0DAY  United States

Some authors have multiple rows in this `DataFrame` since they have authored multiple tweets. If we were count how often each region appears in this dataset, we would over-estimate regions with more prolific tweeters. 

Instead, we will de-duplicate the `DataFrame`.

In [29]:
author_region.drop_duplicates()

                author                region
0       POLITICS_T0DAY         United States
13673   POLITICS__2014  United Arab Emirates
14894        POLITKACH  United Arab Emirates
15740       POLITOPROS               Unknown
15741       POLITOPROS                   NaN
...                ...                   ...
234249     ZOLLIELEMON         United States
234346      ZOTOVA_UNO               Unknown
234404        ZSHAANNA  United Arab Emirates
234910        ZUBOVNIK                   NaN
235632        ZUBOVNIK    Russian Federation

[3236 rows x 2 columns]

In this case, de-duplication works on the entire row, ignoring the Index. However, if an author tweeted multiple times from different regions we might see that auther continue to appear multiple times in the dataset. This is because even though the author category has duplicates, the combinations of author and region would be unique. 

If we want to ensure each author is only included in the dataset once, we can drop duplicates based on a subset of columns.

In [30]:
author_region.drop_duplicates(subset='author')

                 author                region
0        POLITICS_T0DAY         United States
13673    POLITICS__2014  United Arab Emirates
14894         POLITKACH  United Arab Emirates
15740        POLITOPROS               Unknown
16331      POLITROS_COM         United States
...                 ...                   ...
233605         ZLOYKURS               Unknown
233711  ZNATNIYBUKHARIK         United States
234249      ZOLLIELEMON         United States
234346       ZOTOVA_UNO               Unknown
234404         ZSHAANNA  United Arab Emirates

[2843 rows x 2 columns]

In the cell below, use `drop_duplicates` on `df` to determine how many tweets in our dataset have duplicate content.

In [31]:
# Your Answer Here

### Adding New Columns Using Transformations
Often, we need to add new columns to our `DataFrame` based on values in other columns.

In [ ]:
# df['new_name'] =

In [105]:
# To save our computers we will use a subset
small_df = df.sample(1000)

Sometimes, these new columns are transformations of a single column that already exists in the `DataFrame`.    

For example, we can create a new `empty_tweet` column. This column, will be `True` when the `content` column is empty and `False` otherwise.

In [108]:
small_df['empty_tweet'] = small_df['content'].isna()
small_df.sample(5)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1,empty_tweet
42154,2620869737,PUREDAVIE,Wake Me Up Before You Ho Ho #ChristmasAPopSong...,United States,English,12/9/2016 16:57,12/9/2016 16:57,2288,2627,2407,...,1,HashtagGamer,0,2620869737,807268009312223232,http://twitter.com/2620869737/statuses/8072680...,NaN,NaN,NaN,False
1622401,1647612534,PASHABORODACH,"В Татарстане вынесен приговор террористам, кот...",Unknown,Russian,3/24/2017 4:35,3/24/2017 4:35,166,150,391,...,1,NonEnglish,0,1647612534,845131935114420230,http://twitter.com/1647612534/statuses/8451319...,https://twitter.com/kommersant/status/84512102...,http://www.kommersant.ru/doc/3250245,NaN,False
2636047,2586827056,DURADURNOVA,На борту потерпевшего крушения Ми-8 находились...,Unknown,Russian,8/15/2015 12:32,8/15/2015 12:32,267,168,1771,...,1,NonEnglish,1,2586827056,632530279073214464,http://twitter.com/DuraDurnova/statuses/632530...,http://www.gazeta.ru/social/news/2015/08/15/n_...,NaN,NaN,False
743753,1674169892,J_CL_K,Hillary: Not a Professional at all #MakeAMovie...,United States,English,5/30/2015 13:20,5/30/2015 13:20,259,116,562,...,1,Unknown,0,1674169892,604638545194708992,http://twitter.com/J_Cl_k/statuses/60463854519...,NaN,NaN,NaN,False
2928636,2431409855,YANAGREBEN,#Осознание@russdem #rus@russdem #Ельцин https:...,Unknown,Russian,11/29/2015 21:33,11/29/2015 21:34,98,126,2344,...,1,NonEnglish,1,2431409855,671079602773745665,http://twitter.com/YanaGreben/statuses/6710796...,https://twitter.com/DemotivatorRUS/status/6710...,NaN,NaN,False

In [109]:
small_df['followers_more_1000'] = small_df['followers'] > 1000
small_df.sample(5)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1,empty_tweet,followers_more_1000
2705584,2241496393,EROHOVA_K,ХК «Ростов» на домашнем льду выиграл и проигра...,United States,Russian,11/23/2015 22:02,11/23/2015 22:03,188,339,3091,...,NonEnglish,1,2241496393,668912628442505216,http://twitter.com/erohova_K/statuses/66891262...,http://bit.ly/1Na1UHX,NaN,NaN,False,False
1170443,2410547836,NIKOLAIZAGAID,«Рубин» сыграет со «Сьоном» на «Казань-Арене» ...,Unknown,Russian,11/14/2015 11:55,11/14/2015 11:55,1783,248,2694,...,NonEnglish,1,2410547836,665498331964141568,http://twitter.com/NikolaiZagaid/statuses/6654...,http://dlvr.it/CkxvDR,NaN,NaN,False,False
255384,2611151319,SEATTLE_POST,Famous Yellowstone grizzly approaching end #l...,United States,English,11/2/2015 4:21,11/2/2015 4:21,3881,11502,13287,...,NewsFeed,0,2611151319,661035448815382528,http://twitter.com/Seattle_Post/statuses/66103...,NaN,NaN,NaN,False,True
2600178,2536815395,DIMAROSCOE,В рамках плановой боевой подготовки #РВСН расч...,Russian Federation,Russian,3/15/2017 6:32,3/15/2017 6:32,660,102,280,...,NonEnglish,0,2536815395,841899984068976641,http://twitter.com/2536815395/statuses/8418999...,https://twitter.com/mod_russia/status/84167807...,http://s.mil.ru/2nBbdHx,NaN,False,False
2074064,2882350436,CHRIXMORGAN,"#HowToEscapeADate Make a place for your phone,...",United States,English,2/13/2017 14:19,2/13/2017 14:20,10391,20898,17540,...,HashtagGamer,0,2882350436,831145884842913792,http://twitter.com/2882350436/statuses/8311458...,NaN,NaN,NaN,False,True

In [112]:
small_df['len_tweet'] = small_df['content'].str.len()
small_df.sample(5)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1,empty_tweet,followers_more_1000,len_tweet
1874626,1868496344,BRIANAREGLAND,Real maple syrup has to be refrigerated after ...,United States,English,12/24/2016 15:23,12/24/2016 15:23,407,770,7286,...,0,1868496344,812680101066395648,http://twitter.com/1868496344/statuses/8126801...,https://twitter.com/ainteeentrippin/status/812...,NaN,NaN,False,False,135
865540,890000000000000000,LAWWAANCTR,#laww Traitor McCain is Now Attacking Trump on...,Unknown,English,8/9/2017 12:26,8/9/2017 12:26,2977,920,4648,...,0,890475284507623424,895259952373272577,http://twitter.com/890475284507623424/statuses...,https://twitter.com/lawwaanCtr/status/89525995...,http://ift.tt/2uFxR4w,NaN,False,False,126
1825666,1687183549,BLEEPTHEPOLICE,Take notice plainclothes and uniforms a total ...,United States,English,12/3/2016 22:05,12/3/2016 22:05,6892,14809,14445,...,0,1687183549,805171189601751046,http://twitter.com/1687183549/statuses/8051711...,https://twitter.com/BleepThePolice/status/8051...,NaN,NaN,False,True,145
2124530,743167000000000000,COVFEFENATIONUS,'@realDonaldTrump @realDonaldTumpr Sorry for h...,United States,English,11/23/2017 23:30,11/23/2017 23:30,247,2466,153416,...,1,743166519157227520,933840234122326016,http://twitter.com/743166519157227520/statuses...,https://twitter.com/RepStevenSmith/status/9338...,NaN,NaN,False,True,79
2349492,2878166306,ANDYHASHTAGGER,Your letter from Hogwarts came today! #Things...,United States,English,6/27/2016 13:23,6/27/2016 13:23,19232,22575,11974,...,1,2878166306,747420183703097345,http://twitter.com/AndyHashtagger/statuses/747...,NaN,NaN,NaN,False,True,65

We can also implement more complex transformations, such as those defined in custom functions. 

For example, the code below uses a custom function to extract the number of hashtags used in a tweet.

In [114]:
def num_hashtags(row):
    tweet = row['content']
    try:
        num = tweet.count('#')
        return num
    except AttributeError:
        return 0

small_df['num_hashtags'] = small_df.apply(num_hashtags, axis=1)
small_df

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1,empty_tweet,followers_more_1000,len_tweet,num_hashtags
2076447,2882350436,CHRIXMORGAN,"Oh Allah, There Will Be Blood #ISISAMovie",United States,English,4/27/2016 15:10,4/27/2016 15:11,8894,14526,4694,...,2882350436,725341478021685248,http://twitter.com/ChrixMorgan/statuses/725341...,NaN,NaN,NaN,False,True,41,1
945352,2431598206,MARGOBEROEVA,Cloud4Y подтвердил сертификат соответствия тре...,United Arab Emirates,Russian,5/13/2015 7:12,5/13/2015 7:12,1926,359,3389,...,2431598206,598385295030124544,http://twitter.com/margoberoeva/statuses/59838...,http://bit.ly/1JbSPMs,NaN,NaN,False,False,110,2
476141,3899481526,TODAYINSYRIA,#SyrianArmy Forces Hit #IS Centers Hard East o...,United Kingdom,English,5/29/2016 15:05,5/29/2016 15:06,7476,19025,5328,...,3899481526,736936625809326080,http://twitter.com/todayinsyria/statuses/73693...,https://twitter.com/todayinsyria/status/736936...,http://bit.ly/1Z6MWWA,NaN,False,True,112,3
2242967,2570250275,AIDEN7757,'@GhostsofDC Nowadays snowball fight turned to...,United States,English,2/22/2015 9:57,2/22/2015 9:57,138,13,319,...,2570250275,569435720034721792,http://twitter.com/Aiden7757/statuses/56943572...,NaN,NaN,NaN,False,False,58,0
1149978,2530830345,NEWORLEANSON,New Orleans Saints players salute their father...,United States,English,6/18/2017 18:38,6/18/2017 18:38,9120,28583,46004,...,2530830345,876509429692289024,http://twitter.com/2530830345/statuses/8765094...,https://twitter.com/NewOrleansON/status/876509...,http://www.nola.com/saints/index.ssf/2017/06/n...,NaN,False,True,105,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847503,2788162002,LARIONOVABOBSPI,"Компания ""Русский Стандарт Водка"" объявляет о ...",Unknown,Russian,5/15/2015 11:32,5/15/2015 11:32,207,207,5429,...,2788162002,599175427089944577,http://twitter.com/Larionovabobspi/statuses/59...,NaN,NaN,NaN,False,False,82,0
2672760,892000000000000000,ELIZEESTR,RT Vix_LW: Bill: A Media Lynch-Mob is Trying t...,United States,English,8/6/2017 6:23,8/6/2017 6:23,1958,260,3239,...,891963666828021760,894081469668306944,http://twitter.com/891963666828021760/statuses...,http://www.BillOReilly.com/b/Bill:-A-Media-Lyn...,NaN,NaN,False,False,87,0
1486301,3804542548,NOVOSTIORNBRG,С 1 января Управление Росреестра предоставляет...,Unknown,Russian,2/2/2017 7:21,2/2/2017 7:21,285,3636,4952,...,3804542548,827054302292238338,http://twitter.com/3804542548/statuses/8270543...,https://twitter.com/NovostiOrnbrg/status/82705...,https://goo.gl/rPxF35,NaN,False,True,119,0
140158,2951506251,ROOMOFRUMOR,Alibaba unlikely to be interested in Yahoo's c...,United States,English,12/3/2015 12:05,12/3/2015 12:05,8717,12304,13169,...,2951506251,672386227115458565,http://twitter.com/RoomOfRumor/statuses/672386...,NaN,NaN,NaN,False,True,70,1
458654,2753146444,TODAYCLEVELAND,#local Fire tears through Cleveland home,United States,English,3/17/2015 14:45,3/17/2015 14:45,0,8,1575,...,2753146444,577843173478699008,http://twitter.com/TodayCleveland/statuses/577...,NaN,NaN,NaN,False,False,40,1

In other cases, we will want to use multiple columns to create a new column.    

For example, we may want to extract the  calculate the follower-to-following ratio for accounts on Twitter.

In [115]:
small_df['followers_following_ratio'] = small_df['followers'] / small_df['following']
small_df.sample(10)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1,empty_tweet,followers_more_1000,len_tweet,num_hashtags,followers_following_ratio
599766,3254273689,FINDDIET,http://t.co/hDdSZgwCue LOL everyone who still ...,United States,English,7/23/2015 16:27,7/23/2015 16:28,3,83,8638,...,624254643938291712,http://twitter.com/FindDiet/statuses/624254643...,https://twitter.com/safety/unsafe_link_warning...,NaN,NaN,False,False,111,0,27.666667
2053832,898000000000000000,CHIRRMORRE,EXTREME BIAS! Obama Received 740% More Positiv...,Unknown,English,10/7/2017 14:04,10/7/2017 14:04,4819,1711,1947,...,916665521004797952,http://twitter.com/898467846774300672/statuses...,http://ift.tt/2xZNB8u,NaN,NaN,False,True,97,0,0.355053
10014,2260338140,POLITICS_T0DAY,Европейские атомщики обеспокоились планами Укр...,United States,Russian,7/5/2016 8:13,7/5/2016 8:13,99,936,16688,...,750241111059394560,http://twitter.com/politics_t0day/statuses/750...,https://twitter.com/politics_t0day/status/7502...,https://vk.com/wall-62675857_225283,NaN,False,False,138,1,9.454545
2428693,2267612060,ASYAARRIVE,Букмекеры оценивают победу «Райо Вальекано» на...,United States,Russian,12/20/2015 10:12,12/20/2015 10:12,479,398,5544,...,678518292814897152,http://twitter.com/AsyaArrive/statuses/6785182...,http://dlvr.it/D3YPQ4,NaN,NaN,False,False,99,0,0.830898
2408443,1671936266,ARM_2_ALAN,Immigrant drivers find new freedom with licens...,United States,English,6/13/2015 14:11,6/13/2015 14:12,66,164,9254,...,609724896218775552,http://twitter.com/Arm_2_Alan/statuses/6097248...,http://dld.bz/dG64Q,NaN,NaN,False,False,92,1,2.484848
707479,731000000000000000,HAMBURGBOTE,Prozesse: Prozessbeginn gegen mutmaßlichen PKK...,Unknown,Swedish,2/17/2017 5:11,2/17/2017 5:11,1682,355,1788,...,832457346903191552,http://twitter.com/731021916568424449/statuses...,http://www.zeit.de/hamburg/aktuell/2017-02/17/...,NaN,NaN,False,False,92,0,0.211058
2185648,2630842499,DAILYSANDIEGO,3 men to walk from Cypress to San Diego for ch...,United States,English,3/31/2016 12:48,3/31/2016 12:48,5249,18348,13385,...,715521051392774145,http://twitter.com/DailySanDiego/statuses/7155...,https://twitter.com/DailySanDiego/status/71552...,http://www.click2houston.com/news/3-men-to-wal...,NaN,False,True,100,0,3.495523
538635,1964340318,EXQUOTE,http://t.co/v0ctCKXfyg Gotta workout tomorrow ...,United States,English,7/16/2015 1:45,7/16/2015 1:45,2,290,13603,...,621495723368976384,http://twitter.com/ExQuote/statuses/6214957233...,https://twitter.com/safety/unsafe_link_warning...,NaN,NaN,False,False,137,0,145.000000
2615105,1720117201,DONNABRIVERA,Awesome crowd at Philly YRs/RNC/ @PhillyGOP de...,United States,English,1/29/2016 12:47,1/29/2016 12:47,183,397,1546,...,693052928848822274,http://twitter.com/DonnaBRivera/statuses/69305...,https://twitter.com/DarinB22/status/6928909354...,NaN,NaN,False,False,113,2,2.169399
632191,2260238185,FIONA__ONA,ИЗ-ЗА МАССОВЫХ ОТРАВЛЕНИЙ ДЕТЕЙ РЕГИОНЫ ПОПАЛИ...,Unknown,Russian,12/25/2015 13:38,12/25/2015 13:38,126,258,3394,...,680382112206315520,http://twitter.com/Fiona__Ona/statuses/6803821...,https://twitter.com/RomaKryglov/status/6803819...,http://mirnov.ru/-na-raspredelenie/iz-za-masso...,NaN,False,False,115,0,2.047619

In [117]:
def follow_following(row, default_return=0):
    followers = row['followers']
    following = row['following']
    try:
        return followers / following
    except:
        return default_return
    
small_df['following_followers_2'] = small_df.apply(follow_following, axis=1)
small_df

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,article_url,tco1_step1,tco2_step1,tco3_step1,empty_tweet,followers_more_1000,len_tweet,num_hashtags,followers_following_ratio,following_followers_2
2076447,2882350436,CHRIXMORGAN,"Oh Allah, There Will Be Blood #ISISAMovie",United States,English,4/27/2016 15:10,4/27/2016 15:11,8894,14526,4694,...,http://twitter.com/ChrixMorgan/statuses/725341...,NaN,NaN,NaN,False,True,41,1,1.633236,1.633236
945352,2431598206,MARGOBEROEVA,Cloud4Y подтвердил сертификат соответствия тре...,United Arab Emirates,Russian,5/13/2015 7:12,5/13/2015 7:12,1926,359,3389,...,http://twitter.com/margoberoeva/statuses/59838...,http://bit.ly/1JbSPMs,NaN,NaN,False,False,110,2,0.186397,0.186397
476141,3899481526,TODAYINSYRIA,#SyrianArmy Forces Hit #IS Centers Hard East o...,United Kingdom,English,5/29/2016 15:05,5/29/2016 15:06,7476,19025,5328,...,http://twitter.com/todayinsyria/statuses/73693...,https://twitter.com/todayinsyria/status/736936...,http://bit.ly/1Z6MWWA,NaN,False,True,112,3,2.544810,2.544810
2242967,2570250275,AIDEN7757,'@GhostsofDC Nowadays snowball fight turned to...,United States,English,2/22/2015 9:57,2/22/2015 9:57,138,13,319,...,http://twitter.com/Aiden7757/statuses/56943572...,NaN,NaN,NaN,False,False,58,0,0.094203,0.094203
1149978,2530830345,NEWORLEANSON,New Orleans Saints players salute their father...,United States,English,6/18/2017 18:38,6/18/2017 18:38,9120,28583,46004,...,http://twitter.com/2530830345/statuses/8765094...,https://twitter.com/NewOrleansON/status/876509...,http://www.nola.com/saints/index.ssf/2017/06/n...,NaN,False,True,105,0,3.134101,3.134101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847503,2788162002,LARIONOVABOBSPI,"Компания ""Русский Стандарт Водка"" объявляет о ...",Unknown,Russian,5/15/2015 11:32,5/15/2015 11:32,207,207,5429,...,http://twitter.com/Larionovabobspi/statuses/59...,NaN,NaN,NaN,False,False,82,0,1.000000,1.000000
2672760,892000000000000000,ELIZEESTR,RT Vix_LW: Bill: A Media Lynch-Mob is Trying t...,United States,English,8/6/2017 6:23,8/6/2017 6:23,1958,260,3239,...,http://twitter.com/891963666828021760/statuses...,http://www.BillOReilly.com/b/Bill:-A-Media-Lyn...,NaN,NaN,False,False,87,0,0.132789,0.132789
1486301,3804542548,NOVOSTIORNBRG,С 1 января Управление Росреестра предоставляет...,Unknown,Russian,2/2/2017 7:21,2/2/2017 7:21,285,3636,4952,...,http://twitter.com/3804542548/statuses/8270543...,https://twitter.com/NovostiOrnbrg/status/82705...,https://goo.gl/rPxF35,NaN,False,True,119,0,12.757895,12.757895
140158,2951506251,ROOMOFRUMOR,Alibaba unlikely to be interested in Yahoo's c...,United States,English,12/3/2015 12:05,12/3/2015 12:05,8717,12304,13169,...,http://twitter.com/RoomOfRumor/statuses/672386...,NaN,NaN,NaN,False,True,70,1,1.411495,1.411495
458654,2753146444,TODAYCLEVELAND,#local Fire tears through Cleveland home,United States,English,3/17/2015 14:45,3/17/2015 14:45,0,8,1575,...,http://twitter.com/TodayCleveland/statuses/577...,NaN,NaN,NaN,False,False,40,1,inf,0.000000

Once again, we can use a custom function to transform multiple columns to create one new column.   

In the cell below, use a custom function and the `apply()` method to create a new column called `more_followers` from the `followers` and `following` columns. This column should be `True` if an account has more followers than following, and `False` otherwise.

In [36]:
# Your Answer Here

Checkout the results of our transformations in the `DataFrame` below.

In [37]:
small_df.sample(10)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1,empty_tweet,num_hashtags,followers_following_ratio
87582,2616344667,AMANDAVGREEN,Forrest Hump #DickFlicks @midnight,United States,English,2/28/2017 8:28,2/28/2017 9:00,6666,6626,6446,...,0,2616344667,836493333501399040,http://twitter.com/2616344667/statuses/8364933...,NaN,NaN,NaN,False,1,0.993999
354,2495567768,DAILYSANFRAN,"PHOTOS: Women's March in Oakland, San Francisc...",United States,English,1/22/2017 3:29,1/22/2017 3:29,4570,16776,35799,...,0,2495567768,823009623322095617,http://twitter.com/2495567768/statuses/8230096...,https://twitter.com/DailySanFran/status/823009...,http://abc7news.com/politics/photos-womens-mar...,NaN,False,0,3.670897
96980,2547141851,CHICAGODAILYNEW,Brewers Beat MLB ERA Leader Hendricks And Cubs...,United States,English,9/18/2016 23:57,9/18/2016 23:58,7114,19484,37433,...,0,2547141851,777657945026768896,http://twitter.com/ChicagoDailyNew/statuses/77...,http://cbsloc.al/2cIKJQs,NaN,NaN,False,0,2.738825
3550,2742482932,CASCASEYP,Rumble in the Jungle Book #AddCartoonsToHistory,United Kingdom,English,8/2/2017 11:34,8/2/2017 11:35,4356,5265,4459,...,0,2742482932,892710291959554048,http://twitter.com/2742482932/statuses/8927102...,NaN,NaN,NaN,False,1,1.208678
59251,1877492857,CHESPLAYSCHESS,Buckled lane closes major Atlanta highway http...,United States,English,4/17/2017 22:32,4/17/2017 22:32,1017,1490,19368,...,0,1877492857,854100301623644160,http://twitter.com/1877492857/statuses/8541003...,https://twitter.com/dn_nation_world/status/854...,http://detne.ws/2punIGJ,NaN,False,0,1.465093
41208,1676377446,CHADSLOYER,#BlackLivesMatter #JusticeForMarioWoods #Mario...,United States,English,6/17/2016 13:18,6/17/2016 13:18,824,443,1151,...,0,1676377446,743794904334204928,http://twitter.com/ChadSloyer/statuses/7437949...,NaN,NaN,NaN,False,6,0.537621
238909,749926000000000000,MARKBERER,SZ-Democracy-Lab: Das bewegt Deutschland https...,Unknown,German,7/13/2017 8:50,7/13/2017 8:51,1213,308,413,...,1,749926493409648640,885421241972252672,http://twitter.com/749926493409648640/statuses...,http://sz.de/1.3582821,NaN,NaN,False,0,0.253916
57110,725000000000000000,BERLINBOTE,NPD-Funktionär steht wegen Volksverhetzung vor...,Unknown,German,1/24/2017 2:06,1/24/2017 2:06,1025,115,11174,...,0,725305686989656064,823713560341737473,http://twitter.com/725305686989656064/statuses...,https://twitter.com/BerlinBote/status/82371356...,http://www.berliner-zeitung.de/berlin/npd-funk...,NaN,False,0,0.112195
92573,2543205364,OLGAMOROZOVAMSK,«Амкар» объявил о подписании контракта с напад...,Unknown,Russian,7/16/2015 10:52,7/16/2015 10:52,1691,298,1639,...,1,2543205364,621633441352826880,http://twitter.com/olgamorozovamsk/statuses/62...,http://dlvr.it/BXm09B,NaN,NaN,False,0,0.176227
95112,1715190968,ONEMIGHTYFISH,Uncle Ruckus spawned coons https://t.co/CNfWQo...,United States,English,10/21/2016 2:16,10/21/2016 2:16,831,699,1690,...,0,1715190968,789289139564863488,http://twitter.com/OneMightyFish/statuses/7892...,https://twitter.com/mikie_v/status/78895267728...,NaN,NaN,False,0,0.841155

### <i class="fa fa-graduation-cap"></i> Avoiding Slow Pandas [<i class="fa fa-forward"></i>](#skip_slow)

From [pandas](https://pandas.pydata.org/):
>pandas is a **fast**, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language. 

This is all true, with a pretty large caveat. Pandas is fast (and generally efficient), if you avoid some of the common pitfalls. Unfortunately, these traps are easy to fall for and many pandas users (even senior data scientists) don't know they might be slowing their code down 10-1000x. These people will often be hesitant to use pandas on large datasets and may dissuade others from using the library. 

However, by understanding a little about what is going on in the backend, we can avoid the worst of the problems and write relatively fast pandas code. 

#### How are DataFrames stored? 

DataFrames are really just a collection of `Series`, with each column corresponding to its own `Series`. In a `Series`, each item is stored one after the other in memory. This means that the entire column is stored within a single range of memory.

However, the multiple Series (columns) that make a DataFrame can be stored anywhere in memory and are often not stored side-by-side. 

We can think of this like a grocery list for sandwiches. Lets imagine that each kind of sandwich we make is composed of 1 type of bread, 1 type of  meat and 1 type of vegetable. We could arrange our grocery list into a table like this: 

| sandwich_id | bread_type | meat_type  | vegetable_type |
|-------------|------------|------------|----------------|
| 0           | sourdough  | ham        | lettuce        |
| 1           | baguette   | turkey     | tomato         |
| 2           | rye        | roast beef | onion          |

We buy all of our bread products from a bakery, meat from a deli, and vegetables from a grocer. The result is that to get everything in a column, you can go to one location (e.g. bakery for bread_type). But to get everything from a row you will have to visit all three locations. 

This means it is really fast to access an entire column, but really slow to access an entire row. Lets check it out!

In [118]:
print('Column\n------')
%timeit col = small_df['following']

print('Row\n------')
%timeit row = small_df.iloc[12]

Column
------
1.4 µs ± 10.2 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
Row
------
122 µs ± 3.76 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In this case, there was more than a 60x difference in speed! 

Understanding how `DataFrames` are stored in memory can help us understand why different approaches to `DataFrame` transformations vary so much in speed. Ideally, we can use this information to write efficient pandas code.

#### For Loops & `iterrows`
Perhaps one of the most obvious ways to approach a transformation is to go row-by-row through the dataframe, doing the necessary transformations one at a time. A simple way to do this is using a `for` loop.

In [119]:
%%timeit
diff_followers = []
for i in small_df.index:
    row = small_df.loc[i]
    diff = row['followers'] - row['following']
    diff_followers.append(diff)

184 ms ± 344 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

A second method we can use to add our new column is using the `iterrows()` method ([docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iterrows.html#pandas.DataFrame.iterrows)). This is a built-in pandas method, which has been implemented to iterate over the rows in a  DataFrame. 

This method creates a [generator object](https://wiki.python.org/moin/Generators), a special Python object, which we can use a for loop to iterate over.

In [120]:
%%timeit
diff_followers = []
for idx, row in small_df.iterrows():
    diff = row['followers'] - row['following']
    diff_followers.append(diff)

97.7 ms ± 3.61 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

While this is definitely faster than the basic `for` loop approach, I'll tell you know that it is still really slow! In fact, the underlying reason why both of these approaches are so slow is the same.

Both approaches use a `for` loop to go row-by-row through the DataFrame. Gathering the data for that _row_ as its needed.   

In our sandwich example, this is the equivalent of buying ingredients for sandwich 1, then buying ingredients for sandwich 2, etc. This results in visiting each shop (bakery, deli, grocer) once for every sandwich recipe!

The same thing is happening in pandas. To iterate over the rows using a `for` loop we retreive all values for row 1, then all values for row 2, etc. 

This is incredibly inefficient (imagine the funny looks you'd get on your 3rd visit to the bakery)! In fact, I would venture to say that **you should never use for loops when working with pandas `DataFrames`**. There might be cases when I'm wrong, but there is almost always a better approach than `for` loops.

## The `apply()` Method
A third approach we can use is the `apply()` method ([docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html#pandas.DataFrame.apply)). This built-in pandas method applies a specific function across some axis &mdash; either rows or columns (More on this [later](#axes)). In our case, we want to apply a function along the column axis, applying the function to each row. 

To use `apply()`, you have to define the function you want to apply to each row. This function needs to take in a row, apply the function, and return some value. For our case, we'll define an `difference()` function.

In [121]:
%%timeit

def difference(row):
    return row['followers'] - row['following']

diff_followers = small_df.apply(difference, axis=1)

20.4 ms ± 41.5 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

While this is significantly faster than the previous to approaches, it is still relatively slow because it continues to go row-by-row through the Dataframe. 

Since `apply()` is used for a specific purpose, pandas is able to make assumptions and include optmizations the general approaches (e.g. `for` loops) don't have access to.

For example, `apply()` checks to see if your function is compatible with its "fast" mode ([docs](https://github.com/pandas-dev/pandas/blob/v0.25.3/pandas/core/frame.py#L6737-L6928)). As well, it offloads some of the work to C (a low-level language known for speed), only performing the functions themselves in Python. 

Typically, **I almost always avoid using `apply()`**. Although, it does make for readable code.

#### `zip()` and Iterate
A fourth approach is to use Python's built-in `zip()` function ([docs](https://docs.python.org/3.3/library/functions.html#zip)). This function takes in a group of iterators (lists, dictionaries, tuples, etc) and creates a new iterator where the i-th element in the iterator will be a tuple containing the i-th elements from each of the original iterators.

In [42]:
l1 = [1, 2, 3]
l2 = ['a', 'b', 'c']
z = zip(l1, l2)
list(z)

[(1, 'a'), (2, 'b'), (3, 'c')]

This function is useful for many different purposes. For our case, we will
1. Select columns needed for transformation
2. Zip these columns together
3. Iterate over the zipped object to retrieve pairs one at a time, applying a function to the pairs and storing the result in a list which will later become our new column

In [43]:
%%timeit
diff_followers = []
for followers, following in zip(small_df['followers'], small_df['following']):
    diff = followers - following
    diff_followers.append(diff)

217 µs ± 4.21 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

This method offers a great improvement over our last method (~120x faster). This is the first method that avoids going row-by-row through the `DataFrame`.

Instead of performing many costly read operations (#rows x #columns), this method reads each column only once. The resulting data is stored temporarily in fast memory, where it can be accessed at little cost when it is needed for calculations.

**This is the method I typically use for complicated transformations that involve non-standard operations.**

## Vectorized Functions
Depending on the transformation, we may be able to use a vectorized function. These functions operate on entire Series, rather individual values (aka vector functions). 

There are many built-in vectorized functions, such as `-` (shown below), `add()`, `between()`, and `shift`. You can also build your own vectorized function as a combination of these built-in methods.

In [44]:
%%timeit
diff_followers = small_df['followers'] - small_df['following']

157 µs ± 2.37 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

As with the `zip()` approach, vectorized functions avoid costly row-by-row reads. Vectorized functions also take advantage of pre-compiled code written in lower-level (and faster) languages such as C.

We can go one step further and convert pandas `Series` into NumPy arrays, applying the same vectorized functions to obtain our transformation.

In [45]:
%%timeit
diff_followers = np.array(small_df['followers']) - np.array(small_df['following'])

21.5 µs ± 106 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

By converting the pandas `Series` to NumPy arrays this method removes the overhead incurred by Pandas additional functionality.   

## Going Futher
For cases when even these options aren't fast enough, you can implement more advanced techniques to enhance performance. The improvements offered by these advanced techniques differ based on the problem. For example, some techniques use functions and methods optimized for boolean comparisons (e.g. great than) but offer little improvements when working with other functions like addition. 

Some approaches to checkout include: 
* Using [NumExpr](https://pypi.org/project/numexpr/2.6.1/) for extra fast numerical expressions
* Rewriting functions in [Cython](https://cython.org/)
* Using [Numba](https://numba.pydata.org/) to convert Python code to fast machine code. 

#### Key Points
While differences in speed are hard (if not impossible) to notice for small datasets, it can become hugely consequential when working with large datasets or performing complex calculations. 

We have to remember optimizing code should not be placed at the expense of functionality. Often its best to get something that works before going back and finding the optimal solution. However, I hope that by introducing a couple of "Do's & Don'ts" your first insticts can help you avoid some of the easiest traps.

1. Never directly iterate over the rows in a DataFrame. Avoid anything that goes row-by-row.  
2. Working with NumPy arrays will be faster than pandas Series
3. DataFrame data is stored based on columns, not rows. This means its much faster to access a column than a row.

<a id='skip_slow'></a><a id='agg'></a>
#  <i class="fa fa-location-arrow"></i> AGGREGATION AND GROUPED OPERATIONS

Some of the most common tasks in any given data analysis project involve some sort of aggregation or grouped operation. For example, we might want to compute and compare descriptive statistics for observations that take different values on a categorical variable. Let's see how to do that, and other grouped operations, with `pandas`. 

In brief, the `group_by()` method splits the `dataframe` into groups based on the values of a given variable. We can then perform operations on the resulting groups, such as computing descriptive statistics.

In [128]:
grouped = df.groupby('account_category')
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

The code above returns a grouped object that we can work with. Let's say we want to pull out a specific group. We can use the `get_group()` method to pull a group from the grouped object. (Note that the `.get_group()` code below is equivalent to `df[df['account_type'] == 'RightTroll']`.)

In [129]:
right_troll_group = grouped.get_group('RightTroll')
right_troll_group.head(10)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1,used_to_be_the_index
17628,2912754262,POLITWEECS,It's another beautiful but breezy day! http://...,United States,English,4/1/2015 15:30,4/1/2015 15:30,712,188,1,...,1,RightTroll,0,2912754262,583290244151140352,http://twitter.com/Politweecs/statuses/5832902...,https://twitter.com/JesseHawilaKCTV/status/583...,NaN,NaN,17628
17629,2912754262,POLITWEECS,First Michiana business to publicly deny same-...,United States,English,4/1/2015 15:33,4/1/2015 15:33,712,188,2,...,0,RightTroll,0,2912754262,583291010551169025,http://twitter.com/Politweecs/statuses/5832910...,NaN,NaN,NaN,17629
17630,2912754262,POLITWEECS,Obama for Prezident in 2016 #BadPrankIn5Words ...,United States,Croatian,4/1/2015 16:15,4/1/2015 16:16,712,188,3,...,0,RightTroll,0,2912754262,583301633494249474,http://twitter.com/Politweecs/statuses/5833016...,https://twitter.com/Politweecs/status/58330163...,NaN,NaN,17630
17631,2912754262,POLITWEECS,The U.S. and #Cuba have held their HIGHest-lev...,United States,English,4/10/2015 10:00,4/10/2015 10:00,589,5543,62,...,0,RightTroll,0,2912754262,586468665920360448,http://twitter.com/Politweecs/statuses/5864686...,https://twitter.com/Politweecs/status/58646866...,NaN,NaN,17631
17632,2912754262,POLITWEECS,Fox is about to end #TheSimpsons seasonal DVD ...,United States,English,4/10/2015 10:07,4/10/2015 10:07,589,5543,63,...,0,RightTroll,0,2912754262,586470580724957185,http://twitter.com/Politweecs/statuses/5864705...,NaN,NaN,NaN,17632
17633,2912754262,POLITWEECS,Police horse named Jacob with a prestigious jo...,United States,English,4/10/2015 11:24,4/10/2015 11:24,589,5543,64,...,0,RightTroll,0,2912754262,586489845469483008,http://twitter.com/Politweecs/statuses/5864898...,https://twitter.com/Politweecs/status/58648984...,NaN,NaN,17633
17634,2912754262,POLITWEECS,This is an amazing Sun Cruise Resort hotel of ...,United States,English,4/10/2015 12:03,4/10/2015 12:03,589,5543,65,...,0,RightTroll,0,2912754262,586499757113118721,http://twitter.com/Politweecs/statuses/5864997...,https://twitter.com/Politweecs/status/58649975...,NaN,NaN,17634
17635,2912754262,POLITWEECS,Being #fat in middle age reduces risk of devel...,United States,English,4/10/2015 13:39,4/10/2015 13:39,589,5541,66,...,0,RightTroll,0,2912754262,586523818929164290,http://twitter.com/Politweecs/statuses/5865238...,https://twitter.com/Politweecs/status/58652381...,NaN,NaN,17635
17636,2912754262,POLITWEECS,#Obama approval rating among #Jews has gone fr...,United States,English,4/10/2015 15:24,4/10/2015 15:24,589,5536,67,...,0,RightTroll,0,2912754262,586550375068536832,http://twitter.com/Politweecs/statuses/5865503...,https://twitter.com/Politweecs/status/58655037...,NaN,NaN,17636
17637,2912754262,POLITWEECS,You can buy about 2000 #pizza s instead of gol...,United States,English,4/10/2015 16:24,4/10/2015 16:24,589,5535,68,...,0,RightTroll,0,2912754262,586565440979144704,http://twitter.com/Politweecs/statuses/5865654...,NaN,NaN,NaN,17637

As previously mentioned, sometimes we want to compute some value for a group within the dataset. We can do this by specifying the grouped object, the `Series` we want to perform an operation on, and finally the operation we want to perform. A full list of operations available when working with `Series` can be found in the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html).

In [130]:
grouped['followers'].median()

account_category
Commercial        273
Fearmonger         48
HashtagGamer     2480
LeftTroll         836
NewsFeed        14722
NonEnglish        503
RightTroll       1437
Unknown           205
Name: followers, dtype: int64

In [131]:
grouped['following'].median()

account_category
Commercial         3
Fearmonger        65
HashtagGamer    2613
LeftTroll        796
NewsFeed        7089
NonEnglish       434
RightTroll      1864
Unknown          567
Name: following, dtype: int64

There are many things you can do here, such as comparing the ratio of followers to following.

In [132]:
grouped['followers'].median() / grouped['following'].median()

account_category
Commercial      91.000000
Fearmonger       0.738462
HashtagGamer     0.949101
LeftTroll        1.050251
NewsFeed         2.076739
NonEnglish       1.158986
RightTroll       0.770923
Unknown          0.361552
dtype: float64

We can also perform some operations on the grouped object itself, such as computing the number of observations in each group, which in this case is equal to the number of tweets sent by accounts in each category.

In [133]:
grouped.size().sort_values(ascending=False)

account_category
NonEnglish      820803
RightTroll      711668
NewsFeed        598226
LeftTroll       427141
HashtagGamer    241786
Commercial      121904
Unknown          13539
Fearmonger       11140
dtype: int64

It is also possible to group by multiple variables, such as `account_category` and `language`, and then perform an operation on the groups, such as compute the median number of followers.

In [134]:
cat_lang = df.groupby(['account_category', 'language'], as_index=False)['followers'].median()
cat_lang.sample(30)

    account_category            language  followers
68        Fearmonger           Icelandic       48.0
11        Commercial     Farsi (Persian)      393.0
338          Unknown              Pushto       54.0
192         NewsFeed           Icelandic    12299.0
120     HashtagGamer             Spanish     2039.5
188         NewsFeed             Finnish    19035.5
305       RightTroll           Slovenian     2082.0
239       NonEnglish            Japanese      107.0
1         Commercial              Arabic      387.0
202         NewsFeed              Polish    13807.5
2         Commercial             Bengali      353.0
55        Commercial          Vietnamese      294.0
166        LeftTroll           Slovenian      925.0
268       RightTroll             Bengali        1.0
313       RightTroll                Urdu     1472.0
15        Commercial               Greek      518.0
95      HashtagGamer             Finnish     2018.0
260       NonEnglish  Tagalog (Filipino)      495.5
185         NewsFeed             English    14725.0
245       NonEnglish          Macedonian      406.0
180         NewsFeed             Catalan    13131.5
27        Commercial  LANGUAGE UNDEFINED      851.0
256       NonEnglish           Slovenian      106.0
143        LeftTroll              German      843.0
193         NewsFeed          Indonesian    12290.0
99      HashtagGamer           Hungarian     2745.0
223       NonEnglish              Danish      978.0
28        Commercial             Latvian      434.0
332          Unknown            Japanese       30.0
231       NonEnglish               Greek      338.5

Depending on what you are doing, the result of a grouped analysis like this could be a `Series` or a `DataFrame`. 

Finally, we can perform *multiple* operations on a grouped object by using the `agg()` method ([documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html)). The `agg()` method will apply one or more aggregate functions to a grouped object, returning the results of each. 

To specify which operations `agg()` will apply, a list of functions or string function names is provided. Each function must accept a `Series` or `DataFrame` as input (depending on what type the grouped object is) or work when passed to the `apply()` method. 

We can re-implement the median calculation from above using the `agg()` function.

In [135]:
grouped['followers'].agg([np.median])

                  median
account_category
Commercial           273
Fearmonger            48
HashtagGamer        2480
LeftTroll            836
NewsFeed           14722
NonEnglish           503
RightTroll          1437
Unknown              205

We can specify additional functions by adding to the list provided to `agg()`. Notice that we can use a function or a string function name when specifying which operations to apply.

In [136]:
grouped['followers'].agg([min, np.median, 'max', 'count'])

                  min  median     max   count
account_category
Commercial          0     273     858  121904
Fearmonger          0      48     120   11140
HashtagGamer        0    2480   24663  241786
LeftTroll           0     836   56725  427141
NewsFeed            0   14722   62088  598226
NonEnglish         -1     503  251276  820803
RightTroll          0    1437  145244  711668
Unknown             0     205    6343   13539

We can even define our own function for `agg()` to use.

In [138]:
def count_greater_than_0(series):
    gt_0 = series[series > 0]
    return len(gt_0)

grouped['followers'].agg(['min', np.median, 'max', 'count', count_greater_than_0])

                  min  median     max   count  count_greater_than_0
account_category
Commercial          0     273     858  121904                121704
Fearmonger          0      48     120   11140                 10898
HashtagGamer        0    2480   24663  241786                240713
LeftTroll           0     836   56725  427141                426891
NewsFeed            0   14722   62088  598226                597888
NonEnglish         -1     503  251276  820803                817637
RightTroll          0    1437  145244  711668                703651
Unknown             0     205    6343   13539                 12997

<a id='axes'></a>
### <i class="fa fa-graduation-cap"></i> Background Knowledge &mdash; Axes [<i class="fa fa-forward"></i>](#skip_axes)

Once again, feel free to skip this section. 

If you took a chance to delve into the documentation for any of the aggregation functions, you may have noticed an optional parameter called `axis`. The description of this parameter usually says something like: 

> **axis : {0 or ‘index’, 1 or ‘columns’}, default 0**   
If 0 or ‘index’: apply function to each column. If 1 or ‘columns’: apply function to each row.

In other words, `axis=0` is going to operate over the columns of the dataframe and `axis=1` will operate over the rows in the dataframe. 

If we are doing tasks related to columns, such as calculating the median value of a column or sorting by a column, we will want to set `axis=0`. 

If we are doing tasks related to rows, such as dropping rows with missing values or using the `apply()` method to create a new column, we will want to set `axis=1`. 

As a bit of foreshadowing, operating over rows is generally very slow. We will touch on it later on during [a later]() Background Knowledge section.

<a id='skip_axes'></a><a id='sort'></a>
#  <i class="fa fa-location-arrow"></i> SORTING AND RANKING

Sorting and ranking observations based on some criteria is a common data analysis task. For example, we might want to know which accounts in our dataset have the most followers. 

First, I will create a new `DataFrame` with some extra follower information for each account category & language group.

In [56]:
new_cat_lang = df.groupby(['account_category', 'language'], as_index=False)['followers'].agg([min, np.median, max]).reset_index()
new_cat_lang.columns = ['account_category', 'language', 'followers_min', 'followers_median', 'followers_max']
new_cat_lang.sample(10)

,account_category,language,followers_min,followers_median,followers_max
11,Commercial,Farsi (Persian),116,393.0,858
56,Fearmonger,Albanian,53,53.0,53
221,NonEnglish,Croatian,0,151.0,92491
9,Commercial,English,0,262.0,858
132,LeftTroll,Bulgarian,85,365.0,960
301,RightTroll,Russian,5,402.0,3441
14,Commercial,German,186,384.5,850
114,HashtagGamer,Romanian,2,2382.0,24570
64,Fearmonger,Farsi (Persian),45,50.0,54
102,HashtagGamer,Italian,8,2351.0,24541

To start, we can sort `new_cat_lang` based on the median number of followers.

In [140]:
new_cat_lang.sort_values('followers_median', ascending=False)[:10]

,account_category,language,followers_min,followers_median,followers_max
242,NonEnglish,LANGUAGE UNDEFINED,0,26395.0,251275
178,NewsFeed,Arabic,0,20700.0,33185
213,NewsFeed,Turkish,18603,19685.0,20994
209,NewsFeed,Somali,10,19622.0,31854
188,NewsFeed,Finnish,12288,19035.5,25733
292,RightTroll,LANGUAGE UNDEFINED,0,17448.0,32459
215,NewsFeed,Uzbek,6,17026.0,27637
216,NewsFeed,Vietnamese,1136,16555.0,61661
177,NewsFeed,Albanian,7,16110.0,31813
183,NewsFeed,Danish,12140,15565.0,18792

Using the same criteria, we can also rank the account groups based on which have the greatest number of median followers. The account with most followers will be given a rank of 1.

In [58]:
new_cat_lang['followers_median'].rank(method='max')

0      130.0
1      140.0
2      123.0
3      155.0
4      151.0
       ...
347     66.0
348     16.0
349     81.0
350     59.0
351     35.0
Name: followers_median, Length: 352, dtype: float64

If we were to save this value as a new column, we could use it later on for filtering, conducting more analyses, or highlighting important accounts in a visualization. More on this later.   

## Breaking Ties
Consider the sort below.

In [59]:
new_cat_lang.sort_values('followers_median', ascending=True)[:10]

,account_category,language,followers_min,followers_median,followers_max
155,LeftTroll,LANGUAGE UNDEFINED,0,0.0,622
345,Unknown,Swedish,0,0.0,0
282,RightTroll,Gujarati,0,0.0,11
71,Fearmonger,LANGUAGE UNDEFINED,0,0.0,0
268,RightTroll,Bengali,1,1.0,1
269,RightTroll,Bulgarian,1,1.0,1
327,Unknown,German,0,7.0,220
214,NewsFeed,Urdu,10,10.0,10
340,Unknown,Russian,0,12.0,6343
249,NonEnglish,Portuguese,0,18.0,4348

As you can see, there are multiple account groups with 0 followers. In these cases it might be useful to break the tie using another column. 

To do this, we can specify multiple columns to be used during sorting. The importance of the columns in the sort is determined by the order in which they are provided. For example, in the cell below the `followers_median` column will be used to sort the data first, then the `followers_max` column will only be used to break ties in the original sort.

In [60]:
new_cat_lang.sort_values(['followers_median', 'followers_max'], 
                         ascending=True)[:10]

,account_category,language,followers_min,followers_median,followers_max
71,Fearmonger,LANGUAGE UNDEFINED,0,0.0,0
345,Unknown,Swedish,0,0.0,0
282,RightTroll,Gujarati,0,0.0,11
155,LeftTroll,LANGUAGE UNDEFINED,0,0.0,622
268,RightTroll,Bengali,1,1.0,1
269,RightTroll,Bulgarian,1,1.0,1
327,Unknown,German,0,7.0,220
214,NewsFeed,Urdu,10,10.0,10
340,Unknown,Russian,0,12.0,6343
249,NonEnglish,Portuguese,0,18.0,4348

<a id='corr'></a>
#  <i class="fa fa-location-arrow"></i> Correlation and Covariance 
Sometimes it is useful to calculate the correlation between numeric columns in a `DataFrame`. To do this you can use the `.corr()` method, which by default calculates the Pearson correlation coefficient, ignoring any missing (NA or null) values. 

$$\rho_{x,y} = \frac{\text{cov}(x,y)}{\sigma_x \sigma_y}$$

In [61]:
df.corr()

,following,followers,updates,retweet,new_june_2018,tweet_id
following,1.000000,0.580259,0.151950,-0.305094,-0.150726,0.110589
followers,0.580259,1.000000,0.233705,-0.312036,-0.049159,0.086571
updates,0.151950,0.233705,1.000000,-0.171920,0.119216,0.149430
retweet,-0.305094,-0.312036,-0.171920,1.000000,0.116437,-0.027388
new_june_2018,-0.150726,-0.049159,0.119216,0.116437,1.000000,-0.353891
tweet_id,0.110589,0.086571,0.149430,-0.027388,-0.353891,1.000000

Additionally, if you are interested in finding the correlation between two specific columns you can use the `.corr()` method for `Series`.

In [62]:
df['followers'].corr(df['following'])

0.5802587806116529

Look at the [documentation]() for the `corr()` method. In the cell below use the `.corr()` method to find the spearman rank correlation between any two columns in the `DataFrame`.

In [63]:
# Your Answer Here

Additionally, we can calculate the pairwise covariance between columns using the `.cov()` method.

$$ \mbox{cov}_{x,y}=\frac{\sum_{i=1}^{N}(x_{i}-\bar{x})(y_{i}-\bar{y})}{N-1}$$

Once again, this can be applied to entire `DataFrames`

In [64]:
df.cov()

,following,followers,updates,retweet,new_june_2018,tweet_id
following,3.164787e+07,4.777653e+07,1.513500e+07,-8.520629e+02,-3.451090e+02,6.002876e+19
followers,4.777653e+07,2.142107e+08,6.056168e+07,-2.267201e+03,-2.928336e+02,1.222554e+20
updates,1.513500e+07,6.056168e+07,3.134863e+08,-1.511126e+03,8.590936e+02,2.552837e+20
retweet,-8.520629e+02,-2.267201e+03,-1.511126e+03,2.464509e-01,2.352615e-02,-1.311904e+15
new_june_2018,-3.451090e+02,-2.928336e+02,8.590936e+02,2.352615e-02,1.656500e-01,-1.389762e+16
tweet_id,6.002876e+19,1.222554e+20,2.552837e+20,-1.311904e+15,-1.389762e+16,9.310034e+33

Or to individual columns.

In [65]:
df['followers'].cov(df['following'])

47776527.55856115

In [141]:
df['following'].dtype

dtype('int64')

<a id='date'></a>
#  <i class="fa fa-location-arrow"></i> Dates and Times
Many real world datasets include a temporal component, including the Russian Trolls dataset. Often, strings are used to store dates and times. However, strings don't take advantage of the unique properties of time. 

For example, it becomes difficult to sort dates if they are stored in strings with strange formats. This is because strings are sorted alphabetically, rather than based on what the string actually represents.

In [66]:
"Monday Mar 2, 1999" > "Friday Feb 21, 2020"

True

Additionally, it is often tedious to extract features of the date string such as day of the week, month, or timezone. 

This is why pandas and Python have implemented special types for date/time objects, called [`Timestamp`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timestamp.html) and [`Datetime`](https://docs.python.org/2/library/datetime.html), respectively. These two types are essentially equivalent to one another.   

We can convert date strings from a column or `Series` into Timestamps using the `to_datetime` function.

In [144]:
small_df['publish_date']

2076447    4/27/2016 15:10
945352      5/13/2015 7:12
476141     5/29/2016 15:05
2242967     2/22/2015 9:57
1149978    6/18/2017 18:38
                ...
847503     5/15/2015 11:32
2672760      8/6/2017 6:23
1486301      2/2/2017 7:21
140158     12/3/2015 12:05
458654     3/17/2015 14:45
Name: publish_date, Length: 1000, dtype: object

In [145]:
small_df['dt_publish_date'] = pd.to_datetime(small_df['publish_date'])
small_df['dt_harvested_date'] = pd.to_datetime(small_df['harvested_date'])

small_df.sample(5)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,tco2_step1,tco3_step1,empty_tweet,followers_more_1000,len_tweet,num_hashtags,followers_following_ratio,following_followers_2,dt_publish_date,dt_harvested_date
348227,2951556370,SPECIALAFFAIR,Japan urges China not to escalate East China S...,United States,English,8/8/2016 4:23,8/8/2016 4:23,10135,11261,30933,...,NaN,NaN,False,True,63,1,1.111100,1.111100,2016-08-08 04:23:00,2016-08-08 04:23:00
2180889,2630842499,DAILYSANDIEGO,#politics Trump Vows to Undo Any Executive Act...,United States,English,1/3/2016 13:59,1/3/2016 13:59,7873,12262,10390,...,NaN,NaN,False,True,57,1,1.557475,1.557475,2016-01-03 13:59:00,2016-01-03 13:59:00
1719114,3071479646,BALTIMORE0NLINE,#Breaking: Adapted Sports Festival offers scub...,United States,English,9/14/2016 13:09,9/14/2016 13:10,4924,6321,10535,...,NaN,NaN,False,True,119,1,1.283712,1.283712,2016-09-14 13:09:00,2016-09-14 13:10:00
475147,3899481526,TODAYINSYRIA,#IslamicState executes 45 of its own militants...,United Kingdom,English,5/11/2016 13:04,5/11/2016 13:04,5276,18582,4733,...,http://aranews.net/2016/05/islamic-state-burie...,NaN,False,True,133,2,3.521986,3.521986,2016-05-11 13:04:00,2016-05-11 13:04:00
2391112,2440755969,ANWARJAMIL22,Путин проведет ряд двусторонних встреч на поля...,Israel,Russian,11/14/2015 22:51,11/14/2015 22:51,1,250,2243,...,http://ria.ru/world/20151115/1320741316.html,NaN,False,False,113,1,250.000000,250.000000,2015-11-14 22:51:00,2015-11-14 22:51:00

Lets check the type associated with the `dt_publish_date` column.

In [68]:
small_df['dt_publish_date']

67381    2017-08-17 01:07:00
125501   2016-01-25 13:58:00
100647   2015-07-06 15:21:00
45562    2017-04-23 18:02:00
164634   2016-03-14 22:18:00
                 ...
146044   2015-12-17 22:33:00
146881   2015-07-05 16:47:00
33284    2015-07-19 20:53:00
115749   2015-08-08 10:13:00
195851   2016-07-30 09:30:00
Name: dt_publish_date, Length: 1000, dtype: datetime64[ns]

Now that the column is stored in a datetime specific format, we can  access temporal specific attributes such as month,

In [69]:
small_df['dt_publish_date'].dt.month

67381      8
125501     1
100647     7
45562      4
164634     3
          ..
146044    12
146881     7
33284      7
115749     8
195851     7
Name: dt_publish_date, Length: 1000, dtype: int64

Sort a `DataFrame` based on `publish_date`,

In [70]:
small_df.sort_values(['dt_publish_date'])

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1,empty_tweet,num_hashtags,followers_following_ratio,dt_publish_date,dt_harvested_date
119988,480763276,IRIS0_O,God save da Ukraine #ТвимперияЛюбитВас http://...,United States,Bulgarian,6/21/2014 13:07,6/21/2014 13:07,1637,2390,4541,...,480336235555454976,http://twitter.com/iris0_o/statuses/4803362355...,https://twitter.com/essyKrac/status/4803316963...,http://bit.ly/1nrfHbX,NaN,False,1,1.459988,2014-06-21 13:07:00,2014-06-21 13:07:00
182778,2569229674,LORAGREEEN,God just laughs at my plans #true #love,Azerbaijan,English,11/10/2014 14:26,11/10/2014 14:26,135,15,278,...,531815161296728064,http://twitter.com/LoraGreeen/statuses/5318151...,NaN,NaN,NaN,False,2,0.111111,2014-11-10 14:26:00,2014-11-10 14:26:00
79419,2732675512,BGARNER2107,No one has ever become poor by giving. – Anne ...,United States,English,12/15/2014 15:02,12/15/2014 15:02,0,0,152,...,544507759358533633,http://twitter.com/BGarner2107/statuses/544507...,NaN,NaN,NaN,False,0,NaN,2014-12-15 15:02:00,2014-12-15 15:02:00
76825,2535529153,BEVERLYBALSOM,is it true that 2 units of Zaporozhia NPP shut...,United States,English,1/3/2015 20:35,1/30/2015 17:23,555,107,173,...,551476965178220545,http://twitter.com/BeverlyBalsom/statuses/5514...,NaN,NaN,NaN,False,2,0.192793,2015-01-03 20:35:00,2015-01-30 17:23:00
122091,2753286467,ISRAEL_WILLS,parents: why don't you come socialize with the...,United States,English,1/8/2015 9:52,1/8/2015 9:53,185,14,170,...,553127216398483456,http://twitter.com/Israel_Wills/statuses/55312...,NaN,NaN,NaN,False,0,0.075676,2015-01-08 09:52:00,2015-01-08 09:53:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164693,743167000000000000,COVFEFENATIONUS,#FollowTheWhiteRabbit 🐇 https://t.co/mDulWjWcpC,United States,English,11/13/2017 21:05,11/13/2017 21:06,246,2169,145861,...,930179955647848449,http://twitter.com/743166519157227520/statuses...,https://twitter.com/TrumpTrain45Pac/status/929...,NaN,NaN,False,1,8.817073,2017-11-13 21:05:00,2017-11-13 21:06:00
166165,743167000000000000,COVFEFENATIONUS,'@tbailey5477 @RSutton57 @redhead4645 @Jali_Ca...,United States,English,11/15/2017 22:38,11/15/2017 22:38,246,2196,147323,...,930928064480997376,http://twitter.com/743166519157227520/statuses...,https://twitter.com/WendyKeel4/status/93059441...,NaN,NaN,False,0,8.926829,2017-11-15 22:38:00,2017-11-15 22:38:00
166219,743167000000000000,COVFEFENATIONUS,"When your RINO contract expires w/ @CNN Ana, y...",United States,English,11/15/2017 22:45,11/15/2017 22:46,246,2196,147386,...,930929655065931776,http://twitter.com/743166519157227520/statuses...,https://twitter.com/ananavarro/status/93062410...,http://ancestry.com,NaN,False,1,8.926829,2017-11-15 22:45:00,2017-11-15 22:46:00
180374,743167000000000000,COVFEFENATIONUS,'@shannoneffects1 @davis1988will @GrizzleMeist...,United States,English,12/4/2017 0:25,12/4/2017 0:25,249,2572,160131,...,937477933580484608,http://twitter.com/743166519157227520/statuses...,NaN,NaN,NaN,False,0,10.329317,2017-12-04 00:25:00,2017-12-04 00:25:00
27437,905141000000000000,KANIJJACKSON,This is your daily reminder that the NRA is un...,United States,English,2/27/2018 21:14,2/27/2018 21:14,6592,15774,2383,...,968595104196939782,http://twitter.com/905141386781085696/statuses...,NaN,NaN,NaN,False,1,2.392900,2018-02-27 21:14:00,2018-02-27 21:14:00

and add or subtract datetime columns to create new columns.

In [146]:
small_df['days_until_harvest'] = small_df['dt_harvested_date'] - small_df['dt_publish_date']
small_df.sample(5)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,tco3_step1,empty_tweet,followers_more_1000,len_tweet,num_hashtags,followers_following_ratio,following_followers_2,dt_publish_date,dt_harvested_date,days_until_harvest
2512920,2882037326,DANAGEEZUS,#SecondhandGifts A book. With a note -- to som...,United States,English,12/21/2016 16:10,12/21/2016 16:10,13372,22707,14894,...,NaN,False,True,82,1,1.698101,1.698101,2016-12-21 16:10:00,2016-12-21 16:10:00,0 days
1121080,1930747698,NEVNOV_RU,Машина сбила пешехода на проспекте Обуховской ...,United States,Russian,2/11/2017 21:48,2/11/2017 21:48,16728,25029,33843,...,NaN,False,True,102,0,1.496234,1.496234,2017-02-11 21:48:00,2017-02-11 21:48:00,0 days
1355103,1694026190,JACQUELINISBEST,Mitt the Shit/running mate losers/ Dont want t...,United States,English,12/4/2016 19:22,12/4/2016 19:22,2201,2153,4270,...,NaN,False,True,135,0,0.978192,0.978192,2016-12-04 19:22:00,2016-12-04 19:22:00,0 days
2554442,892000000000000000,DEBESSTRS,RT DebAlwaystrump: America is pissed😠 FBI neve...,Unknown,English,8/12/2017 11:27,8/12/2017 11:27,1722,1612,8481,...,NaN,False,True,139,0,0.936121,0.936121,2017-08-12 11:27:00,2017-08-12 11:27:00,0 days
1017174,1727482238,MELVINSROBERTS,Win lottery. Marry nymphomaniac. #WhatIWantFo...,United States,Farsi (Persian),11/24/2016 8:27,11/24/2016 8:27,2996,3401,5217,...,NaN,False,True,64,1,1.135180,1.135180,2016-11-24 08:27:00,2016-11-24 08:27:00,0 days

## <font color="crimson"><i class="fa fa-user"></i> YOUR TURN!</font>

In the cell below use methods found [here](https://pandas.pydata.org/pandas-docs/stable/reference/series.html) to create a new column called `weekend`. It should be `True` if the tweet was published on a Saturday or Sunday & `False` otherwise.

In [152]:
# Your Answer Here

<a id='miss'></a>
#  <i class="fa fa-location-arrow"></i> Missing Data

Missing data is a common occurrence when working with real-world datasets. Data can be missing for multiple reasons. 

## <font color="crimson"><i class="fa fa-user"></i> YOUR TURN!</font>


What are some of the reasons you are familiar with? Try to think of at least 3.

In [73]:
# Your answer here
#
#
#

Once you recognize that any `Series` or `DataFrame` corresponding to a real-world dataset is likely to have missing values, you're probably wondering how these missing data are stored in pandas. 

Generally, pandas uses the `np.nan` value to represent missing data. See the table below for some examples of rows containing missing data (Scroll to the far right columns).

In [74]:
df.head(5)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,2260338140,POLITICS_T0DAY,https://t.co/9OgJ5RxUEV,United States,Russian,2/16/2016 23:15,2/16/2016 23:16,92,887,12939,...,Russian,0,NonEnglish,0,2260338140,699733931055259648,http://twitter.com/politics_t0day/statuses/699...,https://twitter.com/politics_t0day/status/6997...,NaN,NaN
1,2260338140,POLITICS_T0DAY,Пять этажей жилого дома рухнули в Ярославле по...,United States,Russian,2/16/2016 5:41,2/16/2016 5:42,92,884,12895,...,Russian,0,NonEnglish,0,2260338140,699468718888390656,http://twitter.com/politics_t0day/statuses/699...,https://youtu.be/STxTIceQmsA,NaN,NaN
2,2260338140,POLITICS_T0DAY,Вербовщика Джихади Джона нашли в Турции через ...,United States,Russian,2/16/2016 6:10,2/16/2016 6:10,92,884,12896,...,Russian,0,NonEnglish,0,2260338140,699476018063659008,http://twitter.com/politics_t0day/statuses/699...,https://youtu.be/xy5ap3xX_fs,NaN,NaN
3,2260338140,POLITICS_T0DAY,"""Война"" с Евгением Поддубным от 14.02.16 https...",United States,Russian,2/16/2016 6:36,2/16/2016 6:36,92,885,12897,...,Russian,0,NonEnglish,0,2260338140,699482457377210372,http://twitter.com/politics_t0day/statuses/699...,https://youtu.be/a7x4v7CYHiA,NaN,NaN
4,2260338140,POLITICS_T0DAY,Посол #САР в #РФ обвинил #США в авиаударах по ...,United States,Russian,2/16/2016 7:01,2/16/2016 7:01,92,885,12898,...,Russian,0,NonEnglish,0,2260338140,699488793993330688,http://twitter.com/politics_t0day/statuses/699...,https://twitter.com/politics_t0day/status/6994...,https://vk.com/wall-62675857_176796,NaN

NumPy's `np.nan` value is a special case of a floating point number representing an unrepresentable value. These kinds of values are called `NaNs` (Not a Number).

In [75]:
type(np.nan)

float

`np.nan` cannot be used in equality tests, since any comparison to a `np.nan` value will evaluate as `False`. This includes comparing `np.nan` to itself.

In [76]:
n = np.nan
n == n

False

As well, `np.nan` values do not evaluate to `False` or `None`. This makes it difficult to distinguish missing values. Luckily, we can use the `np.isna()` function for this purpose. This is especially useful in control flow.

In [77]:
if np.nan is None:
    print('NaN is None')
if np.nan:
    print('NaN evaluates to True in control flow')
if np.isnan(np.nan):
    print('NaN is considered a NaN value in NumPy')

NaN evaluates to True in control flow
NaN is considered a NaN value in NumPy

Additionally, `np.nan` values are generally excluded from pandas functions that perform calculations over dataframes, rows, or columns. For example, documentation often stipulates that a calculation is done over all values, excluding NaN or NULL values.

In [78]:
total = len(df['tco1_step1'])
count = df['tco1_step1'].count()
print('Total: {}'.format(total))
print('Count: {}'.format(count))
print(' Diff:  {}'.format(total-count))

Total: 2946207
Count: 2100236
 Diff:  845971

The total number of items in the `tco1_step` column is nearly 85000 more than the counts received from the `count()` function. If what we learned above is correct, this difference should be accounted for when we discover how many items in this column are NaNs.

In [79]:
nans = df['tco1_step1'].isna().sum()
print(' NaNs: {}'.format(nans))

 NaNs: 845971

The `.isna()` method can be useful in transforming and filtering data. 

## <font color="crimson"><i class="fa fa-user"></i> YOUR TURN!</font>

Use the `.isna()` function, along with the methods we covered in the filtering section to only show rows in `df` where the region column is not missing. Save the resulting `DataFrame` as `region_df`.

In [80]:
# Your Answer Here

In [81]:
# Run this cell to check
if len(region_df) >= len(df):
    print('Nothing was filtered out, try again!')
else:
    print('At least one value was filtered out of the DataFrame. It is up to you to make sure the right values were removed!')

NameError: name 'region_df' is not defined

<a id='multi'></a>
#  <i class="fa fa-location-arrow"></i> Working with Multiple Datasets
Some of the most interesting analysis comes from combining datasets. 

<a id='concat'></a>
## Concatenating
Sometimes, we will want to concatenate (append) `DataFrames`. This works much the same as list concatenation &mdash; one `DataFrame` is added to the end of a previous `DataFrame`. Typically, concatenation grows the number of rows in a `DataFrame` without adding many (if any) columns. 

In fact, we used concatenation when we originally read in the Russian Trolls dataset. There are 12 smaller datasets that make up the larger Russian Trolls dataset we have been using. Below, I'll load in two of them.

In [153]:
df1= pd.read_csv('data/russian-troll-tweets/IRAhandle_tweets_1.csv')
print('df1 has {} rows and {} columns'.format(len(df1), len(df1.columns)))

df1 has 243891 rows and 21 columns

In [154]:
df2 = pd.read_csv('data/russian-troll-tweets/IRAhandle_tweets_2.csv')
print('df2 has {} rows and {} columns'.format(len(df2), len(df2.columns)))

df2 has 250520 rows and 21 columns

Both `DataFrames` have 21 columns. If you look into it you will see these columns are the same between the two dataframes. 

We can concatenate the `DataFrames`.

In [155]:
con = pd.concat([df1, df2])
print('con has {} rows and {} columns'.format(len(con), len(con.columns)))

con has 494411 rows and 21 columns

When we concatenate the two `DataFrames` there continues to be only 21 columns, but the number of rows has increased, accounting for the rows in both the original `DataFrames`. Check out the concatenated `DataFrame` below.

In [156]:
con.sample(5)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
43584,892000000000000000,BEEATRWL,I liked a YouTube video https://t.co/SrrKUzGK1...,Unknown,English,8/14/2017 18:55,8/14/2017 18:56,2864,927,1819,...,Right,0,RightTroll,0,891609822109597696,897169846303162370,http://twitter.com/891609822109597696/statuses...,http://youtu.be/zISaa1nc1Uo?a,NaN,NaN
69581,2586506586,ALEXHARRITONOV,Мхитарян в январе вернется в «Боруссию»? https...,Azerbaijan,Russian,11/13/2016 1:44,11/13/2016 1:44,136,2201,2222,...,Russian,1,NonEnglish,0,2586506586,797615990846685184,http://twitter.com/2586506586/statuses/7976159...,http://www.postsovet.ru/blog/kavkaz/834883.htm...,NaN,NaN
23457,1652138929,ACEJINEV,#TheResistance #fucktrump https://t.co/VymUEhA5Rs,United States,English,4/15/2017 6:17,4/15/2017 6:17,783,922,5885,...,Left,1,LeftTroll,0,1652138929,853130020495249408,http://twitter.com/1652138929/statuses/8531300...,https://twitter.com/HaroldWNelson/status/85312...,NaN,NaN
142396,2178836894,BOEING_IS_BACK,Крым скоро будет продан http://t.co/XUDdMXVFdS,Malaysia,Russian,8/2/2015 19:53,8/2/2015 19:54,1925,6626,1007,...,Russian,0,NonEnglish,0,2178836894,627930217571487745,http://twitter.com/boeing_is_back/statuses/627...,http://bit.ly/1SxnTwy,NaN,NaN
63512,725000000000000000,BERLINBOTE,Wird gegen Polizeipräsident Kandt und Vize Kop...,Unknown,German,5/9/2017 16:35,5/9/2017 16:35,1355,1273,16634,...,German,0,NonEnglish,0,725305686989656064,861982955757064192,http://twitter.com/725305686989656064/statuses...,https://twitter.com/BerlinBote/status/86198295...,http://www.bz-berlin.de/berlin/wird-gegen-poli...,NaN

## <font color="crimson"><i class="fa fa-user"></i> YOUR TURN!</font>

What would happen if the `DataFrames` did not contain all the same columns? In the cell below, add a new column to one of the `DataFrames` and try concatenating the two `DataFrames`. Was it successful? If so, what was contained in the resulting `DataFrame`.

In [ ]:
# Your Answer Here

<a id='merge'></a>
## Merging
An alternative way to combine datasets is through merging. If you want to create a `DataFrame` that contains columns from multiple datasets, but is aligned on rows according to some column (or set of columns), you probably want to use the `merge()` function. 

We are going to merge two `DataFrames`. One will be the original `df` dataset we have been working with throughout the day.

In [157]:
print('df has {} rows and {} columns'.format(len(df), len(df.columns)))

df.sample(5)

df has 2946207 rows and 22 columns

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1,used_to_be_the_index
1985262,892000000000000000,CHAASNTR,Curated HedgeBz \| ’s Corporate Crime Watchdog...,Unknown,English,8/2/2017 12:29,8/2/2017 12:29,1954,643,840,...,0,RightTroll,0,891902187130966017,892723974186074113,http://twitter.com/891902187130966017/statuses...,https://hedgeaccordingly.com/2017/07/dojs-corp...,NaN,NaN,1985262
1384992,1627096807,JASSSCOTT,We've been integrating something I created int...,United States,English,1/19/2017 15:49,1/19/2017 15:50,315,741,4375,...,1,LeftTroll,0,1627096807,822108769555533824,http://twitter.com/1627096807/statuses/8221087...,NaN,NaN,NaN,1384992
1403873,1653553555,JAYDAASTONISHIN,▶@HWMag: The Strange Story Of George Washingto...,United States,English,7/8/2017 4:55,7/8/2017 4:55,1147,891,4934,...,1,LeftTroll,0,1653553555,883550175242985472,http://twitter.com/1653553555/statuses/8835501...,http://ow.ly/GGj750cFyvN,NaN,NaN,1403873
536059,1964340318,EXQUOTE,http://t.co/OniczTmizl I workout to look good ...,United States,English,7/14/2015 5:22,7/14/2015 5:22,2,236,9820,...,0,Commercial,1,1964340318,620825661549088768,http://twitter.com/ExQuote/statuses/6208256615...,https://twitter.com/safety/unsafe_link_warning...,NaN,NaN,536059
2903554,3438999494,WORLDOFHASHTAGS,Yada yada blah blah #MyFarewellWordsWouldBe,United States,Arabic,1/11/2017 15:09,1/11/2017 15:09,7522,9225,26614,...,1,HashtagGamer,0,3438999494,819199588393426945,http://twitter.com/3438999494/statuses/8191995...,NaN,NaN,NaN,2903554

The other dataset will be a fake dataset that I created, containing extra information on a subset of authors.

In [158]:
authors = pd.read_csv('data/fake_author_data.csv')
print('authors has {} rows and {} columns'.format(len(authors), len(authors.columns)))
authors.sample(10)

authors has 298 rows and 3 columns

              author  coffee_drinker favourite_animal
232     ANTHONYCARTR               1             list
33         ABUNUWASA               0            Skink
141      AMBERLINETR               0             Pike
275  ARTEMMPLOTNIKOV               0        Manta ray
46      ADELIINESTRT               1             list
77          AHNORDYK               1        Damselfly
287       ASHLEEYWES               1            Louse
251          ARABMTR               1             list
249     APRRILSBRUSS               1           Alpaca
122     ALIZASSHIELD               0         Landfowl

To merge these `DataFrames` we need to find a column which can be used to match rows from one `DataFrame` to the other. The columns don't need to have the same name, just values which can be matched with one another. Whatever columns we choose will be called "keys" in our merge.  In our case this will be the `author` columns. 

We will use the `merge` function to combine these two `DataFrames`.

In [159]:
merged = pd.merge(df, authors, on='author')
print('merged has {} rows and {} columns'.format(len(merged), len(merged.columns)))
merged.sample(5)

merged has 243994 rows and 24 columns

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1,used_to_be_the_index,coffee_drinker,favourite_animal
43662,2526297190,AGITPOLK,"Обстрел консульства, суд в Лондоне, Турецкий п...",Unknown,Russian,3/29/2017 18:33,3/29/2017 18:33,1171,8917,14129,...,0,2526297190,847154778815823872,http://twitter.com/2526297190/statuses/8471547...,https://twitter.com/KremlinResident/status/847...,NaN,NaN,2238537,1,Cow
144524,895000000000000000,ANDRISNABRT,"RT JaySekulow: The ACLJ will keep fighting ""to...",Unknown,English,8/16/2017 19:30,8/16/2017 19:30,47,7,645,...,0,894810803190288385,897903475136319492,http://twitter.com/894810803190288385/statuses...,http://aclj.us/2w1RF75,NaN,NaN,2339399,0,Viper
5880,3312143142,4MYSQUAD,Selma 50 event today. See Congressman John Lew...,United States,English,10/12/2015 13:27,10/12/2015 13:27,1710,1118,4180,...,0,3312143142,653562726984187904,http://twitter.com/4mysquad/statuses/653562726...,https://twitter.com/4mysquad/status/6535627269...,NaN,NaN,2200755,0,Dung beetle
110814,1679279490,AMELIEBALDWIN,GO TEXAS! #Texas Attorney General first in cou...,United States,English,2/16/2017 11:37,2/16/2017 11:37,2326,2740,29267,...,0,1679279490,832192195830677504,http://twitter.com/1679279490/statuses/8321921...,https://www.texastribune.org/2017/02/15/ken-pa...,NaN,NaN,2305689,1,Buzzard
96562,1679279490,AMELIEBALDWIN,"She didn't show up because somewhere, buried d...",United States,English,1/22/2017 8:58,1/22/2017 8:58,2340,2727,26345,...,0,1679279490,823092494904791040,http://twitter.com/1679279490/statuses/8230924...,https://twitter.com/bassomar_omy/status/823043...,NaN,NaN,2291437,1,Buzzard

You should see a two new columns appear on the far right (`coffee_drinker` and `favourite_animal`). Notice how many rows each of the `DataFrames` have. You can see that the merged `DataFrame` has many fewer rows than the original `df` but many more than `authors`. 

By default, rows will only be included in the merged `DataFrame` if their key was present in both datasets. So in our case, if a row's author doesn't appear in the other dataset, that row will not be included in the merged `DataFrame`. 

This can be adjusted using the `how` parameter. There are four ways of merging `DataFrames` in pandas &mdash; left, right, outer, and inner. By default, `merge()` uses inner, which only includes a row if its key exists in both `DataFrames`. Check out the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) to see how the other three methods work.

## <font color="crimson"><i class="fa fa-user"></i> YOUR TURN!</font>

Choose one of these other methods and use it to re-merge `df` and `authors`. Did it work as expected? Does the result help you understand what was written in the documentation?

In [ ]:
# Your Answer Here

### <i class="fa fa-graduation-cap"></i> Record Linkage [<i class="fa fa-forward"></i>](#skip_rl)

Combining datasets is one of the most valuable skills you can have for doing data analytics. In general this process is referred to as "Data Integration" or "Record Linkage". 

The `merge` function works great when you can make _exact_ matches between columns. It also works really well because checking for exact matches has been optimized in Pandas. However, its often the case that we need to combine datasets which cannot be merged based on exact matches. 

Instead, we often have to use **inexact matching** (aka fuzzy matching or approximate matching) to combine datasets. Typically, this involves using some similarity metric to how close two keys are to one another. Then a match is made based on thresholds, rules, or a nearest-neighbour approach.

However, naively calculating similarity between all possible key combinations results in incredibly lengthy compute times. Instead, there are ways to exclude some key pairs from the beginning. This allows you to drastically reduce the number of comparisons you need to make. 

Additionally, inexact matching can leverage machine learning techniques which uses human curated examples to learn to predict whether two rows should be matched with one another. 

If this "more advanced" approach to combining datasets is of interest, I highly suggest looking into the [`recordlinkage`](https://github.com/J535D165/recordlinkage) Python package.

# Regression Models, Network Models, Text Analysis, etc. 

There are a variety of packages in Python that can be used to estimate models, including, for example, the [statsmodels](https://www.statsmodels.org/dev/examples/index.html) package for estimating GLMS, logit models, and others. It also provides functions for regression diagnostics, creating coefficient plots, and so on. 

There is also a very good machine learning package in Python called [sklearn](https://scikit-learn.org/stable/), which has implementations of regression models, including OLS and logit models. 

There is a packaged called [PyStan](https://pystan.readthedocs.io/en/latest/) for doing Bayesian Multilevel Modeling if you are into that kind of thing. 

For network analysis, there are a variety of options, the most widely-used of which is [networkx](https://networkx.github.io/). 

For natural language processing and text analysis, there are a variety of *outstanding* packages. The most widely-known for natural language processing is the Natural Language Processing Toolkit (NLTK), but for a variety of reasons I recommend you use [spaCy](https://spacy.io/) instead. For topic modelling, [gensim](https://radimrehurek.com/gensim/) has very good implementations of common models. 

For most machine learning, you will want to use [sklearn](https://scikit-learn.org/stable/). For more advanced stuff (convolutional neural networks for image data), you can check out tensorflow.

# Jupyter Lab

Not loving the standalone notebooks? 

There is a relatively new "IDE" from the Jupyter project called Jupyter Lab. Since some of you have asked about equivalents to RStudio, I thought we would mention it. It's a *bit* more like RStudio, but of course not the same. 

PyCharm is another IDE for Python that is RStudio like. It gives you access to multiple panes and lets you execute code line by line. 

If you have access to a server and have a iPad or iPhone, I would also suggested checking out the iOS app Juno Connect. It's a beautiful way to execute Python code on a remote server using the notebook formats. What a great way to analyze your data on planes with increasingly narrow seats! :-)

#  <i class="fa fa-location-arrow"></i> OPEN WORK TIME <a id='open'></a>

In [161]:
small_df.to_csv('data/data.csv', index=False)